HTML {
	height: 100%;
}
BODY {
	HEIGHT: 100%
}
BODY {
	background-color: #D8D8D8;
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
IMG {
	border: 0px solid #000CCC;
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	font-size: 18px;
	color: #2781CA;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
H3 {
	font-size: 19px;
	color: #004684;
	padding-top: 4px;
	padding-bottom: 8px;
	font-weight: normal;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
H4 {
	font-size: 22px;
	color: #004684;
	padding-top: 4px;
	padding-bottom: 8px;
	font-weight: normal;
	margin: 0px;
	padding-right: 0px;
	padding-left: 0px;
	float: left;
}
H5 {
	font-size: 14px;
	text-decoration: none;
	margin: 0px;
	font-weight: normal;
}
H6 {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
P {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
FORM {
	MARGIN: 0px;
	padding: 0px;
}
UL {
}
DIV {
	margin: 0px;
	padding: 0px;
}
label {
	margin: 0px;
	padding: 0px;
}
input {
	margin: 0px;
}

a {
	color: #E01924;
	text-decoration: none;
}
a:hover {
	color: #E01924;
	text-decoration: underline;
}
.clearfix {
	clear: both;
	height: 0px;_height:auto!important;
}
.print {
	font-size: 11px;
	color: #999;
	text-decoration: none;
	background-image: url(../img/new/ico_print.png);
	background-repeat: no-repeat;
	float: right;
	width: auto;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	background-position: 1px;
}
.more {
	font-size: 10px;
	color: #E71E34;
	text-decoration: none;
	line-height: 18px;
	text-transform: uppercase;
	background-image: url(../img/new/ico_readmore.png);
	background-repeat: no-repeat;
	background-position: 58px 3px;
}
.more a {
	font-size: 10px;
	color: #E71E34;
	text-decoration: none;
}
.more a:hover{
	font-size: 10px;
	color: #E71E34;
	text-decoration: underline;
}
.learn_more {
	font-size: 10px;
	color: #194E76;
	text-decoration: none;
	line-height: 18px;
	text-transform: capitalize;
	background-image: url(../img/new/ico_readmore.png);
	background-repeat: no-repeat;
	background-position: right 3px;
	text-align: right;
	padding-right: 12px;
}
.learn_more a {
	font-size: 10px;
	color: #194E76;
	text-decoration: none;
}
.learn_more a:hover{
	font-size: 10px;
	color: #194E76;
	text-decoration: underline;
}
.txthighlightGrey {
	color: #999;
}
.greyDescription  {
	color: #333;
	font-size: 11px;
	line-height: 16px;
}
.list a{
	color: #FFF;
}
.list a:hover{
	color: #FFF;
	text-decoration: underline;
}
#main {
	width: 900px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 1px;
}
#main #curvetop{
	width: 900px;
	background-image: url(../img/new/sprite.png);
	background-repeat: no-repeat;
	background-position: 0px -600px;
	height: 10px;
}
#main #curvebottom{
	width: 900px;
	background-image: url(../img/new/sprite.png);
	background-repeat: no-repeat;
	background-position: 0px -624px;
	height: 10px;
}
#divider {
	width: 10px;
	float: left;
}
#wrapper {
	width: 880px;
	border: 0px solid #C3C3C3;
	background-color: #FFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#wrapNav {
	background-color: #FFF;
	padding-top: 10px;
	padding-right: 1px;
	padding-bottom: 5px;
	padding-left: 1px;
}
#wrapMid {
	padding-top: 2px;
	padding-bottom: 2px;
}
#wrapFoot {
	padding-top: 6px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E3E3E3;
	font-size: 11px;
	color: #666;
	text-decoration: none;
}
#wrapperLeft {
	width: 620px;
	background-color: #FFF;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 0px;
}
#wrapperRight {
	width: 259px;
	background-color: #FFF;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
#wrapperInnerLeft {
	width: 259px;
	background-color: #FFF;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
#wrapperInnerRight {
	width: 600px;
	background-color: #FFF;
	float: left;
	padding-top: 5px;
	padding-bottom: 35px;
	margin-right: 0px;
	padding-left: 10px;
	color: #333;
}
#wrapperInnerRight h3{
	font-size: 24px;
	font-weight: normal;
	color: #19658F;
	padding-bottom: 5px;
}
#wrapperInnerRight strong{
	font-size: 14px;
	font-weight: normal;
	color: #E01924;
	padding-bottom: 2px;
}
#partnerBanks {
	text-decoration: none;
	clear: both;
	width: 610px;
	margin-bottom: 10px;
	padding-top: 10px;
}
#thetop {
	padding-top: 0px;
	padding-right: 5px;
	background-image: url(../img/new/top_bg.png);
	background-repeat: no-repeat;
	padding-bottom: 0px;
}
#thenav {
	background-image: url(../img/new/nav_bg.gif);
	background-repeat: repeat-x;
	height: 26px;
	width: 601px;
	padding-top: 7px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	float: left;
	margin-right: 25px;
}
#theLogo {
	float: left;
	height: 50px;
	width: 261px;
	padding-top: 10px;
}
#innerImg {
	height: 242px;
	width: 600px;
	margin-bottom: 10px;
}
#versignLogo {
	float: right;
	height: 40px;
	width: 83px;
	padding-top: 10px;
}
#copyrightInfo {
	font-size: 11px;
	color: #666;
	float: left;
	
}
#topnav {
	float: none;
	list-style: none;
	line-height: 1em;
	color: #194E76;
	background-color: transparent;
	margin: 0;
	padding: 0;
    /*width:618px;*/
}

#topnav li {
	float: left;
	padding: 0;
}
#topnav a {
	text-decoration: none;
	display: block;
	color: #333;
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 34px;
	padding-bottom: 5px;
	padding-left: 34px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ED0FF;
}
#topnav a.end {
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #999;
	padding-left: 40px;
}
#topnav a.home {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
}
#topnav li:hover a {
	color: #333;
	text-decoration: none;
	background-color: #C3DCE9;
}
#secnav {
	float: none;
	list-style: none;
	line-height: 1em;
	color: #194E76;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

#secnav li {
	float: left;
	padding: 0;
}
#secnav a {
	text-decoration: none;
	display: block;
	color: #E01924;
	font-size: 12px;
	font-weight: normal;
	/*padding-top: 1px;
	padding-right: 13px;
	padding-bottom: 1px;
	padding-left: 8px;*/
	padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 8px;
	margin-top: 11px;
}
#secnav a.end {
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #999;
}
#secnav a.home {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
}
#secnav li:hover a {
	color: #194E76;
	text-decoration: none;
}
#footnav {
	float: none;
	list-style: none;
	line-height: 1em;
	color: #194E76;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

#footnav li {
	float: left;
	padding: 0;
}
#footnav a {
	text-decoration: none;
	display: block;
	color: #046A9E;
	font-size: 11px;
	font-weight: normal;
	/*padding-top: 1px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 8px;*/
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
#footnav a.end {
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #999;
}
#footnav a.home {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: none;
	border-left-color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
}
#footnav li:hover a {
	color: #E71E34;
	text-decoration: none;
}
#signinArea {
	padding: 1px;
	color: #FFF;
	font-size: 10px;
	line-height: 14px;
}
#signinArea .labeltxt{
	font-size: 11px;
	font-weight: normal;
	color: #FFF;
	float: left;
	width: 112px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
}
#signinArea .field{
	font-size: 11px;
	font-weight: normal;
	color: #333;
	padding: 5px;
	background-image: url(../img/new/txtfield_bg.gif);
	width: 100px;
	border: 1px none #FFF;
	background-repeat: no-repeat;
	background-color: #FFF;
	height: 18px;
}
#signinArea .submit{
	font-size: 11px;
	font-weight: normal;
	color: #FFF;
	background-color: #C1192B;
	margin-top: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C1192B;
	border-right-color: #A21322;
	border-bottom-color: #A21322;
	border-left-color: #C1192B;
	padding-top: 7px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
}

#signinArea .fieldwrap{
	font-size: 12px;
	font-weight: normal;
	color: #EC9B96;
	padding-top: 4px;
	padding-bottom: 6px;
	line-height: 14px;
	float: left;
	width: 100px;
}
#signinArea .fieldwrap-left{
	font-size: 12px;
	font-weight: normal;
	color: #EC9B96;
	padding-top: 4px;
	padding-bottom: 6px;
	line-height: 14px;
	float: left;
	width: 100px;
	margin-right: 23px;
}
#signinArea .buttonwrap{
	font-size: 11px;
	font-weight: normal;
	color: #FFF;
	padding-top: 4px;
	padding-right: 1px;
	padding-bottom: 1px;
	line-height: 14px;
	float: left;
	width: auto;
}
#signinArea .helpwrap{
	font-size: 10px;
	font-weight: normal;
	color: #FFF;
	padding-top: 10px;
	padding-right: 1px;
	padding-bottom: 1px;
	line-height: 14px;
	float: left;
	width: 153px;
	padding-left: 4px;
}
#signinArea .helpwrap a{
	color: #FFF;
	text-decoration: none;
}
#signinArea .helpwrap a:hover{
	color: #FFF;
	text-decoration: underline;
}
.subnavA {
	position: relative;
}
.subnavA ul {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Lucida Sans Unicode", "Trebuchet MS", Tahoma;
	LIST-STYLE-TYPE: circle
}
.subnavA li {
	MARGIN: 2px 0px 0px
}
.subnavA a {
	DISPLAY: block;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 18px;
	font-size: 11px;
	color: #19658F;
	background-image: url(../img/new/ico_subnav.png);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
.subnavA a.sub {
	DISPLAY: block;
	TEXT-DECORATION: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	padding-top: 8px;
	padding-right: 6px;
	padding-bottom: 8px;
	padding-left: 26px;
	font-size: 11px;
	color: #F00;
}
.subnavA a:hover {
	COLOR: #E01924;
	BACKGROUND-COLOR: #E3E3E3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E8E8E8;
	text-decoration: none;
}

.subnavShowcase {
	width: 259px;
	float: left;
	margin-bottom: 10px;
}
.subnavShowcase .top{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -430px;
	background-repeat: no-repeat;
	width: 259px;
}
.subnavShowcase .middle{
	background-color: #eee;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 3px
}
.subnavShowcase .middle h3{
	font-size: 22px;
	color: #E01924;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.subnavShowcase .middle .list{
	padding-bottom: 4px;
	background-image: url(../img/new/sprite.png);
	padding-top: 4px;
	padding-left: 12px;
	background-repeat: no-repeat;
	background-position: 0px -250px;
	color: #FFF;
}
.subnavShowcase .bottom{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -520px;
	background-repeat: no-repeat;
	width: 260px;
}

.redShowcase {
	width: 259px;
	float: left;
	margin-bottom: 10px;
}
.redShowcase .top{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -215px;
	background-repeat: no-repeat;
	width: 259px;
}
.redShowcase .middle{
	background-color: #E00724;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.redShowcase .middle h3{
	font-size: 24px;
	color: #FFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.redShowcase .middle .list{
	padding-bottom: 4px;
	background-image: url(../img/new/ico_featureslist.png);
	padding-top: 4px;
	padding-left: 16px;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	color: #FFF;
}
.redShowcase .bottom{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -239px;
	background-repeat: no-repeat;
	width: 260px;
}

.blueShowcase {
	width: 259px;
	float: left;
	margin-bottom: 10px;
}
.blueShowcase .top{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -326px;
	background-repeat: no-repeat;
	width: 259px;
}
.blueShowcase .middle{
	background-color: #19658F;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.blueShowcase .middle h3{
	font-size: 21px;
	color: #FFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.blueShowcase .middle .list{
	padding-bottom: 6px;
	background-image: url(../img/new/ico_faqs.png);
	padding-top: 5px;
	padding-right: 3px;
	padding-left: 18px;
	_padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 1px 7px;
	color: #FFF;
}
.blueShowcase .bottom{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -350px;
	background-repeat: no-repeat;
	width: 260px;
}
.blueShowcase .middle .all {
	color: #FFF;
	font-size: 11px;
	text-align: right;
}
.blueShowcase .middle .all a{
	color: #FFF;
	text-decoration: none;
}
.blueShowcase .middle .all a:hover{
	text-decoration: underline;
}

.greyShowcase {
	width: 259px;
	float: left;
	margin-bottom: 10px;
}
.greyShowcase .top{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -430px;
	background-repeat: no-repeat;
	width: 259px;
}
.greyShowcase .middle{
	background-color: #eee;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 0px;
}
.greyShowcase .middle h3{
	font-size: 21px;
	color: #E01924;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.greyShowcase .middle .list{
	padding-bottom: 2px;
	background-image: url(../img/new/sprite.png);
	padding-top: 2px;
	padding-left: 17px;
	background-repeat: no-repeat;
	background-position: 2px -251px;
	color: #19658F;
	font-size: 10px;
}
.greyShowcase .bottom{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -520px;
	background-repeat: no-repeat;
	width: 260px;
}
.largeShowcase {
	width: 300px;
	float: left;
	padding-top: 1px;
	padding-bottom: 1px;
}
.largeShowcase .top{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -530px;
	background-repeat: no-repeat;
	width: 300px;
}
.largeShowcase .middle{
	background-color: #D6F0FF;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 0
];
}
.largeShowcase .middle h3{
	font-size: 22px;
	color: #194E76;
	text-decoration: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.largeShowcase .middle .list{
	padding-bottom: 0px;
	background-image: url(../img/new/sprite.png);
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: 3px -664px;
	font-size: 11px;
	color: #E01924;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #DDD;
}
.largeShowcase .middle .list-features{
	padding-bottom: 0px;
	background-image: url(../img/new/sprite.png);
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: 2px -251px;
	font-size: 11px;
	color: #E01924;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #DDD;
}
.largeShowcase .middle .smalldescription{
	color: #666;
	font-size: 10px;
	line-height: 14px;
}
.largeShowcase .bottom{
	background-image: url(../img/new/sprite.png);
	height: 10px;
	background-position: 0px -560px;
	background-repeat: no-repeat;
	width: 300px;
}
#slides {
	height: 242px;
	width: 610px;
	float: left;
	margin-bottom: 0px;
}
#slideControl
{
	text-align:right;
	float: right;
	font-size: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}
#slideControl a
{
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	margin-left:3px;
	height: 1px;
	padding-top: 0;
	padding-right: 2px;
	padding-bottom: 0;
	padding-left: 2px;
	background-color: #18658F;
	font-size: 7px;
}

#slideControl a.active
{
	background-color: #E71E34;
}

#slideControl a span
{
	visibility:hidden;
}

#navigation
{
	position:absolute;
	width:560px;
	top:74px;
	z-index:10;
	visibility: hidden;
}

#navigation a
{
	padding:4px;
	background:#d60c62;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
}

#navigation a:hover
{
  background:#cc0035;
}

#navigation a.sexyslider-prev
{
  float:left;
}

#navigation a.sexyslider-next
{
  float:right;
}
.faqstxt {
	padding: 1px;
}
.faqstxt-wrap {
	padding-top: 5px;
	padding-right: 1px;
	padding-bottom: 15px;
	padding-left: 1px;
}
.faqstxt-wrap li{
	margin-left: 15px;
	color: #666;
	padding-bottom: 5px;
}
.faqstxt .question{
	font-size: 14px!important;
	color: #E01924!important;
	text-decoration: none!important;
	line-height: 18px!important;
}
.faqstxt .answer{
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
.feedbackForm {
	background-color: #F9F7F8;
	padding: 10px;
	font-size: 10px;
}
.feedbackForm .header{
	background-color: #D6F0FE;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
}
.feedbackForm .required{
	color: #F00;
}
.feedbackForm .desc{
	color: #999;
	padding-left: 2px;
	padding-top: 5px;
	font-size: 10px;
}
.feedbackForm .error{
	color: #F00;
	padding-left: 2px;
	padding-top: 5px;
}
.feedbackForm .message{
	color: #F00;
	padding-left: 2px;
	padding-top: 5px;
}
.feedbackForm .message a{
	color: #F00;
	text-decoration: none;
}
.feedbackForm .message a:hover{
	color: #F00;
	text-decoration: underline;
}
.feedbackForm .fieldName{
	float: left;
	width: 110px;
	padding: 10px;
	color: #666;
}
.feedbackForm .fieldWrap{
	padding: 10px;
	float: left;
	width: 430px;
}
.feedbackForm .txtfield {
    border:1px solid #afaeae;
    color:#333333;
    font-size:12px;
    padding:5px;
    text-decoration:none;
    width:427px;
}
.feedbackForm .txtfield-r{
	padding: 5px;
	width: 425px;
	border: 1px solid #E7DEE2;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
.feedbackForm .txtfield-short{
	padding: 5px;
	width: 220px;
	border: 1px solid #E7DEE2;
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
.feedbackForm .button{
	border: 1px solid #E7DEE2;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #19658F;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
}
 .button_questions{
	border: 1px solid #E7DEE2;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #19658F;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	margin-left:261px;
}
/*Flash Error Notice Message*/
.error_listing ul {text-align:left!important;color:red;}
.error_list span{border:0px dotted #ff0000;padding:3px 10px;line-height:22px;display:block; }
.error_list ul, .error_list li{margin:0px;padding:0px;list-style:none;display:inline;}
#flash_error span, #flash_notice span{-moz-border-radius : 3px; -webkit-border-radius : 3px; }
#flashAlert span {color:#BF1F00;background-color: #FFFABF;-moz-border-radius : 3px; -webkit-border-radius : 3px;border:1px solid #BF1F00;text-align:left;font-weight:normal;}
#flashAlert span strong {font-weight:bold;}
#flash_notice span{border-width:0px; color:#fff;background: #008837; text-align:center; font-weight:bold; }
#flash_error span{border-color:#f00;color:#fff;background: #f63; text-align:center; font-weight:bold;}
/*Flash Error Notice Message*/
.cRed {
color:red;
}
.dsTitle4Fields {
color:#666666;
float:left;
font-size:11px;
padding:10px 10px 6px;
text-decoration:none;
width:240px;
background-color:transparent!important;
}
.dsInfo4Fields {
color:#666666;
float:left;
font-size:12px;
padding:6px 4px 5px 10px;
text-decoration:none;
width:359px;
}
.divBlock {
clear:both;
padding:0;
width:634px;
}
.formHead{
background-color:#D6F0FE;
font-size:13px;
padding:5px 10px;
}
.dsInfo4Fields input{
border:1px solid #E7DEE2;
color:#333333;
font-size:12px;
padding:5px;
text-decoration:none;
/*width:297px;*/
width:auto;
}
.radio_list{
}
.wrapForm2 {
/*background-color:#E5E5E5;*/
padding:0;
/*width:857px;*/
width:auto;
background-color:#F9F7F8;
}
.formHead {
clear:both;
float:none;
font-size:12px;
padding:6px 10px 6px 5px;
/*width:842px;*/
width:auto;
}
.formHead {
background-color:#d6f0fe!important;
clear:both;
color:#000000!important;
font-size:12px;
padding:6px 10px 6px 5px;
text-transform:capitalize;
}
.search_bank{
float:right;
padding:0 23px 0 0;
}
.bank_logo {
background-position:left top;
background-repeat:no-repeat;
border:1px solid #007BC1;
float:left;
height:75px;
margin:10px;
width:100px;
}
.wrapForm2 dl {
clear:both;
margin:0;
padding:0;
width:100%;
}
.wrapForm2 dl .dsTitle4Fields, .wrapForm2 dl .dsInfo4Fields {
margin-bottom:0;
margin-top:0;
padding-bottom:5px;
padding-top:5px;
}
.highlight.red {
border-color:#D1AAAA;
color:#BC0000;
}
.dataTable {
border-right:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
margin:0;
padding:0;
width:100%;
}
.dataTable th {
border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
color:#007BC1;
font-size:13px;
font-weight:normal;
padding:5px;
text-align:left;
}
.dataTable td {
border-bottom:1px solid #CCCCCC;
border-left:1px solid #CCCCCC;
font-size:12px;
padding:4px;
}
.payBlock {
clear:both;
margin:0 auto;
padding:10px;
width:600px;
}
.naira {
float:left;
font:bold 12px "Lucida Sans Unicode",Lucida Sans,Lucida Grande,Arial,Verdana,sans-serif;
margin-top:10px;
padding:20px 80px;
*padding:20px 0px;
}
.dollar {
margin-left:20px;
}
.dollar {
float:right;
font:bold 12px "Lucida Sans Unicode",Lucida Sans,Lucida Grande,Arial,Verdana,sans-serif;
margin-top:10px;
padding:20px 40px;
}
.payImg {
float:left;
}
.pd10 {
padding-top:10px;
width:170px;
*float:left;
}
.dlForm input[type="radio"], .dlForm .inputRadio  {
border:0 none;
font-size:inherit;
margin-bottom:2px;
vertical-align:middle;
}
.inputPayRadio {
margin:0 5px;
}
.mgcenter {
margin:0 auto;
padding:10px 0;
text-align:center;
width:350px;
}
.dsTitle4Fields label sup{
color:#FF0000;
}
.error{
*position:relative;
*bottom:25px;
}
.error_list_user {
background:none repeat scroll 0 0 #FF6633;
border-color:#FF0000;
color:#FFFFFF;
font-weight:bold;
text-align:center;
-moz-border-radius:3px 3px 3px 3px;
border:0 dotted #FF0000;
padding:3px 10px;
}
.error_list_user span {
padding:0px;margin:0px auto;text-align:center;
}
.error_list_user span .error {float:none!important;position:static!important;}

.HLogin {
    font-size:12px;
    color: #046A9E;
   }

