@charset "utf-8";
/* Default CSS NIS
 	Powered by :SWGlobal Limited
	Date: 29th August 2008
	Developer: Calie Boateng*/

HTML {
	height: 100%;


}
BODY {
	HEIGHT: 100%
}
BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	background-color: #C6CED0;
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
}
img {
	border: 0px solid #CCCCCC;
}

H1 {
	MARGIN: 0px;
	font-size: 16px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E2E2E2;
}
H1 a:link {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
}
H1  a:visited {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
}
H1   a:active {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
}
H1    a:hover {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: underline;
	font-weight: normal;
	padding: 0px;
}

H2 {
	MARGIN: 0px;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	padding: 10px;
	font-weight: normal;
	background-color: #D4D4D4;
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

DIV {
	margin: 0px;
}
#ico {
	background-image: url(../_img/ico_arrow.png);
	background-repeat: no-repeat;
}

#bx_main {
	width: 100%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-bottom: 10px;
	height: 100%;
}
#bx_main2 {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	background-color: #FFFFFF;
	height: 760px;
}


#bx_toparea {
	height: 70px;
	width: 100%;
	padding-left: 23px;
	background-image: url(../_img/top_bkbd.jpg);
	background-repeat: no-repeat;
}

#bx_topnavarea {
	background-image: url(../_img/topnav_bg.png);
	height: 28px;
	width: 100%;
	border: 1px none #E5E5E5;
}
.bx_applogo {
	background-image: url(top_logo.png);
	height: 58px;
	width: 331px;
	margin-left: 0px;
	margin-top: 5px;
}

.printable_logo {
	display: none;
}

#bx_midarea {
	height: 380px;
	width: 800px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #0D552F;
	padding-bottom: 10px;
	border: 4px solid #FFFFFF;
	background-image: url(../_img/green_bg.png);
	background-repeat: repeat-x;
}
#bx_footarea {
	height: 30px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 11px;
	color: #333333;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}


.bx_nislogo {
	background-image: url(../_img/nis.png);
	height: 73px;
	width: 52px;
	float: left;
}
.bx_nis_title {
	font-size: 18px;
	color: #0C4C2B;
	text-decoration: none;
	float: left;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}


.bx_container {
	padding: 10px;
	float: left;
	width: 220px;
	margin-left: 20px;
	margin-top: 20px;
}
.bx_whitebox {
	background-color: #FFFFFF;
	height: 160px;
	background-image: url(../_img/grey_fade.png);
	background-repeat: repeat-x;
}
.bx_whiteboxtop {
	height: 7px;
	width: 220px;
}
.bx_whiteboxbottom {
	height: 10px;
	width: 220px;
}

.bx_whiteboxhead {
	background-color: #E1E1E1;
	height: 22px;
	color: #0D552F;
	font-size: 13px;
	padding-left: 8px;
	padding-top: 0px;
}
.bx_whiteboxtext-pass {
	padding: 6px;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-image: url(../_img/bg_passport.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 120px;
}
.bx_whiteboxtext-visa {
	padding: 6px;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-image: url(../_img/bg_visa.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 120px;
}
.bx_whiteboxtext {
	padding: 6px;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-image: url(../_img/bg_hm_nislogo.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 120px;
}
.bx_whiteboxtext  a:link{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext  a:visited{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext  a:active{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext  a:hover{
	color: #FF0000;
	text-decoration: underline;
}

.bx_whiteboxtext-pass  a:link{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-pass  a:visited{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-pass  a:active{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-pass  a:hover{
	color: #FF0000;
	text-decoration: underline;
}
.bx_whiteboxtext-visa  a:link{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-visa  a:visited{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-visa  a:active{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-visa  a:hover{
	color: #FF0000;
	text-decoration: underline;
}
#bx_middle {
	background-color: #FFFFFF;
	height: 400px;
	width: 100%;
}
.bx_topdescription {
	width: 96%;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.bx_num {
	float: left;
	height: 38px;
	width: 39px;
	margin-right: 8px;
}
.bx_arrow {
	float: left;
	height: 9px;
	width: 17px;
	margin-top: 15px;
	margin-right: 15px;
}
.bx_numArea {
	background-color: #FFFFFF;
	height: 40px;
	width: 400px;
	padding-left: 5px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.bx_breadcrumbs {
	MARGIN: 0px;
	font-size: 14px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	/*
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E2E2E2;
    */
	height: 28px;
	width: 100%;
}

.breadcrumbs_steps {
	MARGIN: 0px;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E2E2E2;
	height: 28px;
	width: 100%;
}
.bx_breadcrumbs a:link {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
}
.bx_breadcrumbs  a:visited {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
}
.bx_breadcrumbs   a:active {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: none;
	font-weight: normal;
	padding: 0px;
}
.bx_breadcrumbs    a:hover {
	MARGIN: 0px;
	color: #A42213;
	text-decoration: underline;
	font-weight: normal;
	padding: 0px;
}
.bx_pagedescription {
	width: 100%;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	margin: 0px;
	padding-top: 1px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.bx_formarea {
	width: 100%;
}
.bx_formtitle {
	font-size: 11px;
	color: #A42213;
	text-decoration: none;
	width: 100%;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.bx_fftable {
	text-decoration: none;
	padding: 6px;
	background-color: #F2F2F2;
	width: 627px;
	margin-left: 15px;
	margin-bottom: 8px;
}
.bx_btntable {
	text-decoration: none;
	width: 94%;
	margin-left: 15px;
	margin-bottom: 15px;
	text-align: right;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 6px;
}
.bx_notetable {
	text-decoration: none;
	width: 640px;
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: 11px;
	color: #FF0000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.bx_form {
	width: 610px;
	padding-top: 2px;
}
.bx_ffname {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	/*width: 160px;*/
	padding-left: 10px;
	padding-top: 10px;
}
.bx_ffname2 {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 10px;
}
.bx_ffname3 {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 10px;
}


.ff1 {
	width: 98%;
	border: 1px solid #DFDFDF;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.ff1-short {
	width: 15%;
	border: 1px solid #DFDFDF;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 11px;
	color: #000000;
}
.ff-short2 {
	width: 40%;
	border: 1px solid #DFDFDF;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 11px;
	color: #000000;
}
.ff1-email {
	width: 75%;
	border: 1px solid #DFDFDF;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	font-size: 11px;
	color: #000000;
}
.ff1-dob {
	width: 98%;
	border: 1px solid #DFDFDF;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	margin-right: 3px;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.fr1 {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.fs1 {
	font-size: 11px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
	color: #000000;
}
.btn {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #004200;
	border: 1px solid #004200;
	padding: 3px;
	cursor: hand;
}




.required {
	color: #FF0000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-size: 9px;
}
#errorTable {
	margin-left: 20px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
}
