.titleA {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	margin-bottom: 5px;
}
.tpnavA {
	WIDTH: 220px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.tpnavA UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Lucida Sans Unicode", "Trebuchet MS", Tahoma;
	LIST-STYLE-TYPE: circle
}
.tpnavA LI {
	MARGIN: 2px 0px 0px
}
.tpnavA A {
	DISPLAY: block;
	WIDTH: 200px;
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #B01312;
	border-right-color: #B01312;
	border-bottom-color: #BAC5C7;
	border-left-color: #B01312;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
}
.tpnavA A:link {
	FONT-SIZE: 10px;
	COLOR: #E8EBE2;
	FONT-FAMILY: "Lucida Sans Unicode", "Trebuchet MS", Tahoma
}
.tpnavA A:active {
	COLOR: #E8EBE2
}
.tpnavA A:visited {
	COLOR: #E8EBE2
}
.tpnavA A:hover {
	COLOR: #E8EBE2;
	BACKGROUND-COLOR: #026402;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #f5f5fc;
	border-right-color: #f5f5fc;
	border-bottom-color: #C6CED0;
	border-left-color: #f5f5fc;
}
.bx_topnav {
	font-size: 12px;
	color: #004200;
	text-decoration: none;
	padding-right: 6px;
	padding-left: 6px;
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}




#bx_topapparea  {
	background-color: #226341;
	background-image: url(new_top_bg.jpg);
	background-repeat: no-repeat;
	width: 1090px;
	height: 90px;
	padding-left: 10px;
}
#nav{
	list-style: none;
	font-family: "Lucida Sans Unicode", Tahoma, Verdana;
	width: 100%;
	height: 28px;
}

#nav li{
	margin-right: 3px;
	font-size: 1.7em;
	float: left;
}

#nav li a{
	float: left;
	display: block;
	height: 22px;
	color: #004200;
	text-decoration: none;
	font-size: 11px;
	padding-top: 6px;
	padding-right: 14px;
	padding-bottom: 0;
	padding-left: 14px;
}

#nav li:hover,
#nav li.sfhover{
	color: #FFFFFF;
	background-color: #A01F19;
}

#nav li:hover a,
#nav li.sfhover a{
	color: #FFF;
}

#nav li#nav_home.current{
   background-position: right top;
}

#nav li#nav_home.current a{
   background-position: left top;
   color: #9BAAB5;
}
