/* -------------------------------------------------------------------------- */
/* WrapLogin Section Here													 */
/* ------------------------------------------------------------------------- */
.wrapLogin 															{ background:url(../img/fade_fill.png) repeat-x 0 100% #f5f5f5; border:1px solid #e2e2e2; border-bottom:none; margin-right:auto; margin-left:auto; margin-top:14px; padding:15px 15px 0px 15px; width:290px;margin-bottom:14px;}
.loginLogo 															{ background-image:url(file:///W|/pay4me_phase2/gis/img/green_bg.gif);	height:40px; margin-bottom:5px; padding-right:2px; padding-bottom:10px; padding-left:8px; color:#F5F5F5; text-align:center; overflow:hidden;}
#flash_error span													{display:block; -moz-border-radius:3px; -webkit-border-radius:3px; padding:3px 5px; margin:5px; border-color:#f00; color:red; background:#fff;}
.loginFieldInput 													{ /*font-size:12px;*/ font-size:11px; color:#333; text-decoration:none;	border:1px solid #DBDBDB; background-color:#FFF;padding:7px; /*width:265px;*/ width:274px; font-weight:bold;}
.loginField 														{ font-size:11px; color:#666; text-decoration:none; text-align:left; padding:5px 1px; line-height:16px;}
.formSubmit 														{ font-size:11px; color:#FFF; text-decoration:none;	background-color:#007BC1; padding:4px 6px; font-weight:bold; text-align:center; border:1px solid #007BC1;}
.loginPoweredby 													{ text-align:right;	padding-top:5px;}
.FieldInput 														{ font-size:11px; color:#666; text-decoration:none; border:1px solid #DBDBDB; background-color:#FFF; width:265px; padding:5px;}
.loginHintQuestion													{ border:0px;background:none;}

/* FormHead Section Here */
.formHead 															{ font-size:12px; text-transform:capitalize; color:#FFFFFF; background-color:#007BC1; padding:6px 10px 6px 5px;	clear:both;}
.dsTitle4Fields 													{ font-size:11px; color:#666; text-decoration:none; float:left; width:240px; padding:10px 10px 6px 10px; background-color:#E5E5E5;}
.dsInfo4Fields 														{ font-size:12px; color:#666; text-decoration:none; float:left; width:359px; background-color:#EFEFEF; padding:6px 4px 5px 10px; border-left:1px solid #fff;}




/** new - 14 may 2013**/
.wrapLogin_new	{ background:url(../img/fade_fill.png) repeat-x 0 100% #f5f5f5; border:1px solid #e2e2e2; border-bottom:none; margin-right:auto; margin-left:auto; margin-top:14px; padding:15px 15px 0px 15px; width:700px;margin-bottom:14px;}
.ewallet-login-wrap {width:600px; padding:15px 0 30px 0; clear:both; margin-left:49px; *margin-left:30px;}
.ewallet-login-wrap div {float:left; margin:8px 8px 8px 8px; width:152px; *width:180px; font-size:12px; height:170px; *margin:0px 0px 0px 16px;*height:240px;}
.ewallet-login-wrap div h2 {color:#ff0000; margin:5px 5px 10px 5px;}
.ewallet-login-wrap h1 {text-align:center;}
.ewallet-box {background-color: #e2e2e2; border:#ccc solid 1px; padding:15px; }