/* -------------------------------------------------------------------------- */
/* Standard Html Tag Reset												 	  */
/* ------------------------------------------------------------------------- */

/* iframe */
iframe 																{ border:0px;}

/* heading hights */
h1 																	{ font-size:24px; line-height:24px;}
h2 																	{ font-size:20px; line-height:20px;}
h3 																	{ font-size:18px; line-height:18px;}
h4 																	{ font-size:16px; line-height:16px;}
h5 																	{ font-size:14px; line-height:14px;}

/* line break */
.pixbr																{ clear:both !important; float:none !important;}
.onlyPrint 															{ display:none;}

/* Spacing /margin/padding standards */
.X10 																{ margin-left:10px; margin-right:10px;}
.Y10 																{ margin-top:10px; margin-bottom:10px;}
.XY10 																{ margin:10px; text-transform:uppercase;}
.X20 																{ margin-left:20px; margin-right:20px;}
.Y20 																{ margin-top:20px; margin-bottom:20px;}
.XY20 																{ margin:20px;}
.X50 																{ margin-left:50px; margin-right:50px;}
.Y50 																{ margin-top:50px; margin-bottom:50px;}
.XY50 																{ margin:50px;}

/* table Structure */
.tableDiv															{ position:relative;}
.col 																{ float:left;}
.col2 																{ float:left;width:50%;}
.col3 																{ float:left;width:33%;}
.col4 																{ float:left;width:25%;}
.row 																{clear:both;float:none;height:10px;}

/* border */
.bdr 																{ border:1px solid ;}
.bdrT 																{ border-top:1px solid ;}
.bdrR 																{ border-right:1px solid ;}
.bdrB 																{ border-bottom:1px solid ;}
.bdrL 																{ border-left:1px solid ;}


/* positioning */
.clear																{ clear:both;float:none;}
.l																	{ float:left;margin-right:10px;}
.r																	{ float:right;margin-left:10px;}


/* TEXT colors */
.cBlack 															{ color:#000;}
.cRed 																{ color:red}
.cMaroon 															{ color:maroon;}
.cNavy																{ color:navy}
.cPurple															{ color:purple;}
.cMint																{ color:#bae5ac;}
.cYellow															{ color:#f6ea73;}

/* BACKGROUND colors */
.bBlack 															{ background-color:#000;}
.bRed 																{ background-color:red}
.bMaroon 															{ background-color:maroon;}
.bNavy																{ background-color:navy}
.bPurple															{ background-color:purple;}
.bMint																{ background-color:#bae5ac;}
.bYellow															{ background-color:#f6ea73;}


/* block theme colors */
.highlight.red														{ background-color:#FBF5F5; border-color:#D1AAAA; color:#BC0000;}
.highlight.red h4 													{ color: #BC0000;}
.highlight.green													{ background-color:#f5fbf5; border-color:#33cc66; color:#098C3E;}
.highlight.green h4 												{ color: #098C3E;}
.highlight.blue														{ background-color:#f5f7fb; border-color:#3399cc; color:#0033cc;}
.highlight.blue h4 													{ color:#0033cc;}
.highlight.yellow													{ background-color:#fdf8c3; border-color:#cc9933; color:#996600;}
.highlight.yellow h4 												{ color:#996600;}
.highlight.black													{ background-color:#f1f1f1; border-color:#ccc; color:#333;}
.highlight.black h4 												{ color:#000;}

/* error list formating */
.error_list															{ text-align:center; min-height:25px; height:auto;_height:25px; margin:10px 20%;}
.error_list span													{ border:0px dotted #ff0000; padding:3px 10px; line-height:22px; display:block;}
.error_list ul, .error_list li										{ margin:0px; padding:0px; list-style:none; display:inline;}
#flash_error span, #flash_notice span								{ -moz-border-radius:3px; -webkit-border-radius:3px;}
#flash_notice span													{ border-width:0px; color:#fff; background:#008837;}
#flash_error span													{ border-color:#f00; color:#fff; background: #f63;}

/* noscript Alert*/
#noscript 															{ display:block; _position:absolute; width:100%; border:1px solid #999; background: url(../images/alpha_ffff99_70.png) repeat fixed 0px 0px; _background:#ffff99; _filter:alpha(opacity=70);}
#noscript div														{ width:50%; margin:20px auto; text-align:center;}
#noscript h1, #noscript h3 											{ display:inline; color:black; font-weight:bold;}
#noscript h1														{ color:#cc0000;}
#noscript h3 														{ font-size:16px; line-height:18px;}
