/* -------------------------------------------------------------------------- */
/* Dhtmlwindow Section Here													 */
/* ------------------------------------------------------------------------- */
body{min-width:auto!important;}
#EmailBox															{ display: block; left: 464.5px; top: -27.5px; visibility: visible; width:473px!important; z-index: 101;}
.dhtmlwindow														{ position:absolute; border:2px solid #6998b0; visibility:hidden; background-color:#fff;}
.drag-handle														{ /*CSS for Drag Handle*/ padding:1px; text-indent:3px; ont:bold 14px Arial; background-color:#6998B0!important; color:#fff;  overflow:hidden; width:auto; filter:progid:DXImageTransform.Microsoft.alpha(opacity=100); -moz-opacity:1;opacity:1; font: bold 14px Arial;}
.drag-handle .drag-controls											{ /*CSS for controls (min, close etc) within Drag Handle*/ position:absolute; right:1px; top:2px;}
* html .drag-handle													{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/ width:100%;}
.drag-contentarea													{ /*CSS for Content Display Area div*/ background-color:#fff; color:#000; padding:2px; overflow:auto;}
.drag-statusarea													{ /*CSS for Status Bar div (includes resizearea)*/ border-top:1px solid gray; background-color:#F8F8F8; height:13px; /*height of resize image*/}
.drag-resizearea													{ /*CSS for Resize Area itself*/ float:right; width:13px; /*width of resize image*/ height:13px; /*height of resize image*/ cursor:nw-resize; font-size:0;}
.popupContent {overflow-y: scroll;}
