
/* -------------------------------------------------------------------------- */
/* Standard Html Tag Defination												 */
/* ------------------------------------------------------------------------- */
.clear 																{ height:0px; overflow:hidden;}

/* -------------------------------------------------------------------------- */
/* WrapMid Section Here														 */
/* ------------------------------------------------------------------------- */
.blockBlue,.blockRed,.blockBlue2  									{ overflow:hidden;}

/* -------------------------------------------------------------------------- */
/* Header Section Here													  	  */
/* ------------------------------------------------------------------------- */
#homePage #header 													{ border-top:0px solid transparent;}

/* -------------------------------------------------------------------------- */
/* Logo Section Here													  	  */
/* ------------------------------------------------------------------------- */
#site_logo  														{ margin:0px; padding:0px;}
#site_logo .bx_nislogo  											{ height:73px; margin:0px 20px 0px 0px; overflow:hidden;}
#site_logo .bx_nis_title											{ overflow:hidden; margin:0px; padding:0px; width:500px; margin-top:20px; height:50px;}
#site_logo .bx_nis_title h1 										{ line-height:35px;}

/* -------------------------------------------------------------------------- */
/* Headlinks Section Here													  */
/* ------------------------------------------------------------------------- */
#adminHome #headLinks												{ background-image: url(../img_admin/header_menu_bg.gif);}
#headLinks iframe 													{ height:1px; width:1px; position:absolute;}

/* -------------------------------------------------------------------------- */
/* LoginForm Section Here													  */
/* ------------------------------------------------------------------------- */
.dlForm input, .dlForm .inputText, .dlForm select, .dlForm textarea	{ border:default; font-family:sans-serif; font-size:inherit;}
.dlForm textarea 													{ border-style:groove;}
/*.dlForm dl, .dlForm dd, .dlForm dt 								{ border:1px solid red;}*/
.dlForm dl 															{ width:100%;}
.dlForm dd 															{ height:24px; float:left; margin:0px; padding:0px 0px 0px 10px;}
.dlForm fieldset													{ clear:both; float:none;}
.dlForm ul.fcol ul.radio_list 										{ float:left;}

/* -------------------------------------------------------------------------- */
/* Page Head Section Here													  */
/* ------------------------------------------------------------------------- */
#adminHome #pageHead h1._form 										{ background-image: url(../img_admin/h1_ico_form.gif);}
#adminHome #pageHead h1 											{ background-image: url(../img_admin/h1_ico_default.gif);}
#adminHome #pageHead 												{ background-image: url(../img_admin/header_grd_bg.png) bottom;}
#adminHome #pageHead h1._report 									{ background-image: url(../img_admin/h1_ico_report.gif);}
#adminHome #bx_toparea 												{ background-image: url(../img_admin/alpha_grd_fff.gif); background-color: #eeeeee;}

/* -------------------------------------------------------------------------- */
/* Footer Section Here													  */
/* ------------------------------------------------------------------------- */
#adminHome #footer													{ background-image: url(../img_admin/footer_grd_bg.gif); overflow:hidden; height:40px;}
