/*
Default CSS for itembank
Date:05.05.2009
Developer:Calie Boateng
Email:cboateng@swglobal.com
*/

/* -------------------------------------------------------------------------- */
/* Header Section Here														  */
/* -------------------------------------------------------------------------- */
body																{ background-color:#e6e6e6;}
#theTop 															{ background-image:url(../img/top_bg.png); height:60px; width:864px; padding:10px;_padding:5px 10px;}
#theLogo 															{ height:24px; width:128px; padding-top:22px; padding-left:5px; float:left;}

/*These properties control the secondary navigation (Dashboard, User Details, Settings etc)*/

#topnav 															{ float:none; list-style:none; line-height:1em; color:#194E76; background-color:transparent; margin:0; padding-right:0; padding-bottom:0; padding-left:0;}
#topnav li 															{ float:left; padding:0;}
#topnav a 															{ text-decoration:none; display:block; color:#00588C; margin:0px; padding:6px 10px; font-size:11px;}
#topnav a 															{ text-align:center; font-size:12px; font-weight:bold;}
#topnav li:hover a 													{ color:#0792C9; text-decoration:none; border-bottom-width:1px; border-bottom-style:none; border-bottom-color:#FB1A41;}
h2 																	{ color:#F9042F; font-size:18px; font-weight:normal; margin:0; padding:5px 0;}
p 																	{ line-height:1.6em; margin:0; padding:0; text-decoration:none;}
.HFeatures 															{ background:url(../img/icoFeatures.png) no-repeat 1px 12px; color:#00588C; font-size:10px; padding:9px 5px 8px 20px; text-decoration:none;}
.HFeatures h1 														{ color:#00588C; font-size:12px; line-height:12px; text-decoration:none; font-weight:bold;}
.HFeaturesNoImage                                                   { background-position: 1px 12px; background-repeat: no-repeat; color: #00588C; font-size: 11px; padding: 9px 5px 8px 20px; text-decoration: none;}