/* -------------------------------------------------------------------------- */
/* Standard Html Tag Defination */
/* ------------------------------------------------------------------------- */
html{ height:100%;}

/* -------------------------------------------------------------------------- */
/* Standard Html Tag Reset  */
/* ------------------------------------------------------------------------- */
body{ background-color:#E6E6E6; font-family:"Lucida Sans Unicode", Lucida Sans, Lucida Grande, Arial, Verdana, sans-serif;
padding:0px; min-width:800px; margin:0px;}
img{ border:0px solid #CCCCCC;}
div/*, p, form, h1,*/ { margin:0px; padding:0px;}
h2{ font-size:18px; color:#600; font-weight:normal; /*float:left;*/ padding:0px; margin:10px 0px;}
h3{ text-decoration:none; margin:0px; padding:0px;}
h4{ font-size:1.3em; color:#fff ;/*#90CF01;*/ text-decoration:none; margin:0px; font-weight:normal; padding:0px;}
h5{ font-size:1em; color:#999; text-decoration:none; margin:0px; font-weight:normal; padding:2px 0px 10px 0px;}
p{ text-decoration:none; line-height:1.6em;}
ul{}
input{ margin:0px; padding:0px;}
select{padding:3px;}
/*input[type=password], input[type=text]{ padding:0px; margin:0px; width:265px; height:20px!important;}
select, textarea{ padding:3px; width:275px;}
.txt-input{ width:80px;/* date fields}*/
.clear{ clear:both; height:0px;}


/* -------------------------------------------------------------------------- */
/* Page Elements                                              */
/* -------------------------------------------------------------------------- */
#wrapper { margin-right:auto; margin-left:auto; width:884px; border:4px none #FFF; padding:5px; margin-top:20px;}

/* -------------------------------------------------------------------------- */
/* NaveArea Section Here                                              */
/* -------------------------------------------------------------------------- */
#headLinks{ background:#BED7E4 URL(../img/nav_bg.png) repeat-x; height:25px; border-bottom:1px solid #ccc; padding:0px 5px;}
#navArea { background-color:#BDD6E3; background:url(../img/nav_bg.png) repeat-x left top #bdd6e3; color:#FFFFFF; float:left;   font-size:12px; height:28px; margin-left:0; padding:1px 10px; width:856px;}
#navArea a{ color:#FFF; text-decoration:none;}
#navArea ul li ul, #navArea ul li ul li ul{ background-color:#416FA1;}
#navArea a:hover{ color:#BDD6E3; text-decoration:none;}
.navMenu ul{ float:left; list-style:none; padding:0px; margin:0px; z-index:9;}
.navMenu li{ float:left; padding:0px; color:#000000; margin:0px 8px; /*margin:0px;*/ text-align:left; list-style:none;}
.navMenu li li{ height:auto; padding:0px; text-transform:none;}
.navMenu ul{ width:800px;}
.navMenu ul li ul li a, .navMenu ul li ul li ul li a{ width:auto;}
.navMenu a { display:block; text-decoration:none; /*hite-space:nowrap;*/ color:#333333; display:block; padding:0px 8px;}
.navMenu a:hover{ color:#ff0000;}
.navMenu li ul{ position:absolute; left:-999em; height:auto; border:1px solid #cccccc; margin:0px 0px 0px 80px; padding:0px; float:none;
background-color:#416FA1; width:180px; z-index:99;color:#fff; text-transform:none;}
.navMenu li:hover, .navMenu li.sfhover{ text-decoration:none; color:#cc0000; background-color:#416FA1;}
.navMenu li:hover a, .navMenu li.sfhover a,.navMenu li:hover
a:hover, .navMenu li.sfhover a:hover{ color:#000000; z-index:2;}
.navMenu li li:hover a, .navMenu li li.sfhover a,.navMenu li 
li:hover a:hover, .navMenu li li.sfhover a:hover{ color:#000; background:#416FA1;}
.navMenu li:hover ul a, .navMenu li.sfhover ul a{ color:#333333;}
.navMenu li a{ padding:8px 12px 5px 12px;}
.navMenu li ul a{ padding:5px 8px; display:block; background-color:#416FA1;}
#navArea a:hover, #navArea ul ul  { background-color:#416FA1!important;}
.navMenu li li{ float:none; *float:left; position:relative; border-bottom:1px solid #ffffff; margin:0px; background-color:#416FA1; *clear:both; *width:150px;}
.navMenu li:hover ul ul, .navMenu li:hover ul ul ul,
.navMenu li.sfhover ul ul, .navMenu li.sfhover ul ul ul { left:-999em; /*border:1px solid red;*/}
.navMenu li:hover ul, .navMenu li li:hover ul,
.navMenu li li li:hover ul, .navMenu li.sfhover ul,
.navMenu li li.sfhover ul, .navMenu li li li.sfhover ul { left:auto; margin-left:0px;}
.navMenu li li:hover ul, .navMenu li li li:hover ul,
.navMenu li li.sfhover ul, .navMenu li li li.sfhover ul { left:auto; top:0px; margin-left:148px; /*margin-top:-40px;*/}
.navMenu li img{ border:0px solid #ffffff;}
.navMenu ul{ /*margin-top:5px; padding:3px 10px;*/}
.navMenu li{ /* background:right url('../images/bar_seperator.gif') repeat-y;*/ margin:0px ;/*text-transform:uppercase;*/}
.navMenu li.last{ background:none; margin:0px; padding:0px;}
.navMenu li a{ padding:5px 10px;color:#fff;text-decoration:none;}
.navMenu ul ul{ *width:150px;}
.navMenu ul ul li{}
.navMenu ul li ul li ul{ margin-left:180px!important; *margin-left:150px!important;}



/* -------------------------------------------------------------------------- */
/* Header Admin Area Section Here  */
/* -------------------------------------------------------------------------- */
#wrapperTop{ background:url(../img/top_bg.png) no-repeat; height:60px; width:864px; padding:10px;}
#theTop { background-image:url(../img/top_bg.png); height:60px; width:864px; padding:10px; _padding:5px 10px;}
#theLogo { height:24px; width:128px; padding-top:22px; padding-left:5px; float:left;}
#wrapperTopNavArea{ padding-top:5px; float:right; padding-left:0px; padding-right:0px; margin-right:85px; width:480px; _width:400px;}
#wrapperUserInfo{ font-size:11px; color:#007BC1; text-align:right; padding:15px 5px 0px 0px; width:430px; text-transform:capitalize; float:right;}
.flRight { float:right; margin-left:10px;}
#noTextTransformation{ text-transform:none;}
#wrapperLogo{ height:29px; width:202px; padding-top:25px; position:absolute;}

/* -------------------------------------------------------------------------- */
/* Mid Area Section Here  */
/* ------------------------------------------------------------------------- */
/*.wrapTable{ width:866px; overflow:auto; _margin-top:-20px; _margin-bottom:-20px;}*/
.wrapTable_1{ overflow-x:scroll;}
.dataTable{ margin:0px; padding:0px; border-right-width:1px; border-right:1px solid #ccc; width:100%; border-top:1px solid #ccc;   _margin-bottom:25px;}
.dataTable th{ text-align:left; color:#007BC1; font-size:13px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; font-weight:normal; padding:5px;}
.dataTable  td{ border-bottom:1px solid #ccc; border-left:1px solid #ccc; padding:4px; font-size:12px; text-align:left;}
.dataTable table, .dataTable table tr td{ border:0px none!important;}
.dataTable tr td a{ text-decoration:none;/* margins added to make space between action items - 11 dec 2012 */}
.alternateBgColour{ background-color:#F2F2F2;}
.floatLeft{ float:left; margin-right:8px;}
.floatRight{ float:right;}
.horizontal{ background-color:#E1E1E1;}
.editInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -17px 0px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 4px;}
.delInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -176px -16px; height:16px; width:15px; display:inline-block; vertical-align:middle;margin:0px 0px 0px 3px;}
.deactiveInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -158px 0px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 0px 0px 3px;}
.activeInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -194px 0px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 0px 0px 3px;}

.deactiveInfo1{ background:transparent url(../images/iconImg.gif) no-repeat scroll -158px 0px; height:16px; width:15px; /*display:inline-block;*/ float:left; vertical-align:middle; margin:0px 0px 0px 3px;}
.activeInfo1{ background:transparent url(../images/iconImg.gif) no-repeat scroll -194px 0px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 0px 0px 3px;}

/* -------------------------------------------------------------------------- */
/* LoginForm Section Here  */
/* ------------------------------------------------------------------------- */
/* form styling -*/
.dlForm { font-size:inherit; color:#666;}
.dlForm { display:block; position:relative; width:860px; z-index:0;}
.dlForm dl { display:block; clear:both; float:none; min-height:25px; _height:25px; padding:0px ; margin:0px; width:auto; position:relative; z-index:0; background:url('../img/dlForm_bg.gif') repeat-y -250px; border-bottom:1px solid #fff;}
.dlForm dt { display:block; clear:left; float:left; margin:0px; padding:0px 2px; width:210px; min-height:22px;}
.dlForm dd { margin:0px; padding:5px 2px; margin-left:220px; text-align:left;}
.dlForm cite{ padding-top:2px; font-size:90%; font-style:normal;}

/* form element styling */
/*.dlForm fieldset{ display:block; position:relative; margin:0px auto; padding:0px; background:#EFEFEF;}*/
.dlForm legend,.dlForm.legend{ padding:2px 10px; display:block; position:relative; background-color:#007BC1; clear:both; color:#FFFFFF; padding:6px 10px 6px 5px; font-size:small; /*text-transform:capitalize;*/}
.dlForm dt label ,.dlForm dt .label{ display:block; text-align:left; font-weight:normal; line-height:20px; margin-left:5px; padding:0px;}
.dlForm textarea                            { border:1px groove #ccc; background:#fcfcfc; /*margin-bottom:10px;_margin-bottom:0px;*/; font-size:inherit; font-family:inherit;}
.dlForm.inputText, .dlForm input[type=text]{ border:1px groove #ccc; background:#fcfcfc; font-size:inherit;}
.dlForm input[type=password], .dlForm .inputPassword{ border:1px groove #ccc; background:#fcfcfc; font-size:inherit;}
.dlForm input[type=radio], .dlForm .inputRadio{ vertical-align:middle; margin-bottom:2px; font-size:inherit;}
.dlForm input[type=checkbox], .dlForm .inputCheckbox{ font-size:inherit;}
.dlForm input[type=file], .dlForm .inputFile{ border:1px groove #ccc; background:#fcfcfc; font-size:inherit;}
.dlForm select{ border:1px groove #ccc; background:#fcfcfc; max-width:305px; z-index:0; font-size:inherit;}
.form_nav_outer{ margin:auto; text-align:center; width:50%; padding-bottom:5px;}

/* resetting browser defaults */
.dlForm.inputPassword,.dlForm input[type=password]{ *font-family:sans-serif; font-size:inherit;}

/*-- deselecting form elements --*/
.dlForm input[readonly],.dlForm input[disabled]{ background:#ccc; border-color:#ccc;}
.dlForm .error{ color:#CC0000; display:block; clear:both;}

/* -------------------------------------------------------------------------- */
/* Login into swgloabal inside All pages   */
/* ------------------------------------------------------------------------- */
.wrapForm2{ padding:0px; background-color:#E5E5E5; margin:0 auto;}
.wrapForm2 dl{ width:100%; clear:both; padding:0px; margin:0px;}
.wrapForm2 dl .dsTitle4Fields, .wrapForm2 dl .dsInfo4Fields{ margin-bottom:0; margin-top:0; padding-bottom:5px; padding-top:5px; }
.divBlock { clear:both; background-color:#E5E5E5; padding:0; width:860px; vertical-align:middle;}
.divBlock .formSubmit { font-size:11px; color:#FFF; text-decoration:none; background-color:#007BC1; padding:4px 6px; font-weight:bold; text-align:center; border:1px solid #007BC1; margin-top:5px; margin-bottom:5px; overflow:visible; width:auto;}
.formSubmit{ font-size:11px; color:#FFF; text-decoration:none; background-color:#007BC1; padding:4px 6px; font-weight:bold; text-align:center; border:1px solid #007BC1;}
.cancel{ background:transparent url(../images/cancel.gif) no-repeat scroll 0px 0px; height:25px; width:64px; display:inline-block;vertical-align:middle; margin:0px 4px; margin:0px 4px 6px 4px; cursor:pointer; border:0px none;}
.tGrid{ width:100%;}
.userEditInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll 0px 0px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 4px;}
.unblockInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -394px -16px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 0px 0px 3px;}

.userEditInfo1{ background:transparent url(../images/iconImg.gif) no-repeat scroll 0px 0px; height:16px; width:15px; /*display:inline-block;*/ float:left; vertical-align:middle; margin:0px 4px;}
.unblockInfo1{ background:transparent url(../images/iconImg.gif) no-repeat scroll -394px -16px; height:16px; width:15px; /*display:inline-block;*/ float:left; vertical-align:middle; margin:0px 0px 0px 3px;}
.formCancel{ border-color:#E9E9E9 #C9C9C9 #C9C9C9 #E9E9E9; border-style:solid; border-width:1px;font-size:11px; color:#194E76; text-decoration:none; background-color:#E9E9E9; padding:4px 6px; font-weight:bold;  text-align:center;}
.transparent_class{ filter:alpha(opacity=50); -moz-opacity:0.7; -khtml-opacity:0.7; opacity:0.7; width:100%; position:absolute; right:15px;}
.passPolicy{ background-position:1px 12px; background-repeat:no-repeat; color:#260000; font-size:11px; padding:9px 5px 8px 20px;text-decoration:none;}
.passPolicy_new{ background-position:1px 12px; background-repeat:no-repeat; color:#260000; font-size:11px; padding:9px 0px 8px 0px;text-decoration:none;}

/* error list formating */
.error_listing{ clear:both; /*float:left;*/ font-size:12px; height:auto; margin:10px 0; /*min-height:25px; */padding:0px; text-align:left;}
.error_listing_newwallet{ clear:both; /*float:left;*/ font-size:10px; height:auto; margin:10px 0; /*min-height:25px; */padding:0px; text-align:left;}
.error_listing_newwallet ul{ text-align:left!important; color:red;}
.error_listing_newwallet ul li {font-size:12px !important; }
.error_listing ul{ text-align:left!important; color:red;}
#flashAlert span {color:#BF1F00;background-color:#FFFABF;-moz-border-radius :3px; -webkit-border-radius :3px;border:1px solid #BF1F00;text-align:left;font-weight:normal;}
#flashAlert span strong {font-weight:bold;}
.error_list{ clear:both; font-size:14px; height:auto; margin:10px 0; min-height:25px; padding:0px; text-align:center;}
.error_list span{ border:0px dotted #ff0000; padding:3px 10px; line-height:22px; display:block;}
.error_list ul, .error_list li{ margin:0px; padding:0px; list-style:none; display:inline;}
#flash_error span, #flash_notice span{ -moz-border-radius:3px; -webkit-border-radius:3px;}
#flash_notice span{ border-width:0px; color:#fff; background:#008837; }
#flash_error span{ border-color:#f00; color:#fff; background:#f63;}
#notice { font-size:12px; margin:auto; text-align:center; border:1px solid #BED7E4; width:80%; padding:3px;} 
.pin{ position:relative; margin-left:-11px;}


/* -------------------------------------------------------------------------- */
/* Add Bank   */
/* ------------------------------------------------------------------------- */
.dsTitle4Fields{ font-size:11px; color:#666; text-decoration:none; float:left; width:249px; padding:10px 10px 6px 10px;background-color:#E5E5E5;}
.dsTitle4Fields label sup{ color:#cc0000;}
.popupWrapForm2 dl .dsTitle4Fields, /*.popupWrapForm2 dl .dsInfo4Fields*/{ color:#666; font-size:12px; text-decoration:none; float:left; /*width:582px; background-color:#ff0000;*/ margin-bottom:0; margin-top:0; padding:6px 4px 5px 10px; border-left:1px solid #fff; border-bottom:1px solid #E5E5E5; }
.dsInfo4Fields a{ cursor:pointer; color:blue; text-decoration:underline;}
.error{ display:block; clear:both; color:#ff0000;}
.dsInfo4Fields{ background-color:#EFEFEF; border-bottom:1px solid #E5E5E5; border-left:1px solid #FFFFFF; color:#666666; float:left; font-size:12px; /*padding:6px 4px 5px 10px;*/ padding:7px 4px 7px 10px; text-decoration:none; width:576px;}
.dsInfo { font-size:12px; color:#666; text-decoration:none; float:left;  width:582px; padding:6px 4px 5px 10px;    background-color:#EFEFEF; border-left:1px solid #ffffff;}
.dsTitle { font-size:12px; color:#666; text-decoration:none; float:left; width:254px; padding:6px 5px 6px 10px; background-color:#E5E5E5;}
.dsTitle2                                                           { background:#e5e5e5; clear:both; color:#cc0000; float:none; font-size:12px; padding:6px 5px 6px 10px;}
.spht .dsTitle4Fields                                               { height: 17px;}
.fullrow { font-size:12px; color:#666; text-decoration:none; float:left; width:575px; padding:6px 4px 6px 10px; background-color:#EFEFEF; border-left:1px solid #ffffff;}
.dsTitle4Clear{ font-size:12px; color:#666; text-decoration:none; float:left; width:245px; padding:9px 5px 8px 10px;}
.cRed{ color:#ff0000;}
.cGreen{ color:#009900;}

/* -------------------------------------------------------------------------- */
/* List Bank Configuration  */
/* ------------------------------------------------------------------------- */
.descriptionArea{ font-size:12px; color:#666; text-decoration:none; padding:4px 10px 12px; clear:both;}
.descriptionArea input#selectBy_chooseMerc{ margin:5px 0 0 5px;}
#check1, #check2, #user_name, #bank_country_head{ display:none;}
.popupWrapForm2 dl .dsTitle4Fields,
.popupWrapForm2 dl .dsInfo4Fields { margin-bottom:0; margin-top:0; padding-bottom:5px; padding-top:5px; }
.dsInfo4Fields #user_name{ display:block!important;}
#csvDiv{ cursor:pointer;}
#progBarDiv{ display:none;}
#receivediv, #collectiondiv, #li_merchant_id, #li_bank,
#li_merchant_service, #ewalletdiv, #li_currency{ display:none;}
#chargeLoader{ display:none; padding-top:20px;}
.FieldInput{ font-size:11px; color:#666; text-decoration:none; border:1px solid #afaeae; background-color:#FFF; width:265px; padding:5px; float:left;}


/* -------------------------------------------------------------------------- */
/* List Payment Mode  */
/* ------------------------------------------------------------------------- */
.paging { padding:5px; float:none; clear:both;}
.paging img{ border:0px;}
.paging.pagingFoot{ text-align:right;}
#loader { background:#ffffff; font:bold 12px Arial, Helvetica, sans-serif;color:#900; z-index:999; width:100%; display:none; height:100%; position:fixed; bottom:10px;}
#category{ *visibility:visible!important;}
#bank{visibility:visible!important;}
#subCategory{ *visibility:visible!important;}
.formHead{ font-size:12px; /*text-transform:capitalize;*/ color:#FFFFFF; background-color:#007BC1; padding:6px 10px 6px 5px;    width:850px; float:none; clear:left; text-align:left;}

/* -------------------------------------------------------------------------- */
/* Dhtmlwindow Section Here  */
/* -------------------------------------------------------------------------- */
#interVeil{ position:absolute; background:black; /* url(../images/blackdot.gif);*/ width:10px; left:0; top:0; z-index:100; visibility:hidden; height:800px; filter:progid:DXImageTransform.Microsoft.alpha(opacity=80); opacity:0.8;}

/* -------------------------------------------------------------------------- */
/* Footer Section Here  */
/* -------------------------------------------------------------------------- */
#wrapperFoot{ /*width:856px!important; clear:both; padding:10px 10px 2px 10px;*/ background-color:#BED7E4; padding:0px 0px 2px 10px;}
#foot{ font-size:11px; color:#0569B4; float:left; width:500px; text-align:left;}
#wrapFooter{ color:#FFF; font-size:10px; padding:10px; background-image:url(../img/footer_bg.gif) #838383; height:20px; width:858px; margin:auto; /**width:837px; *margin-left:-20px;*/}
#wrapFooterNav{ width:372px; padding-top:0px; height:14px; float:right;}
#wrapFooterCopyright { color:#FFF; font-size:11px; float:left; width:400px;}
#footnav { float:none; list-style:none; line-height:1em; color:#FFFFFF; background-color:transparent; padding:0; margin:0;}
#footnav li{ float:right; padding:0; list-style-type:none;}
#footnav a { color:#FFF; text-decoration:none; padding:2px 0px; display:block; margin-right:5px; margin-left:5px;}
#footnav a.one{ text-align:center; font-size:11px;}
#footnav li:hover a.one{ color:#E6E6E6; text-decoration:none;}
.wrapLogos .required	{ color:#FF0000;}



/* found in some pages but cudnt see the effects*/

/* -------------------------------------------------------------------------- */
/* eWalletLogin Area Section Here  */
/* -------------------------------------------------------------------------- */

/* WrapperLogin Area Section Here */
.wrapLogin { background:#f5f5f5 url(../img/fade_fill.png) repeat-x 0px 100%; margin-right:auto; margin-left:auto; width:280px;    margin-top:120px; border:1px solid #E2E2E2; padding:15px 15px 0px 15px;}

/* Mid Area Section Here */
.loginField{ font-size:11px; color:#666; text-decoration:none; padding:5px 1px; line-height:16px;}

/* WrapperMid Section Here */
#wrapperMid{ background:url(../img/fade_fill.png) repeat-x 0 100% #f5f5f5; width:876px; border:4px solid #BED7E4; border-top:none;}
#loadArea { background-color:#FFF; padding:10px; margin-left:0px; float:left; width:865px; padding:0px 5px 5px 5px;}
#loadArea_new{ background-color:#FFF; padding:10px; margin-left:0px; float:left; width:877px; padding:0px 5px 5px 5px;}
#loadArea h2{ text-align:left;}
#nxtPage                                                            { overflow-x:auto; width:99%; margin:auto;}
.loader_bg{ background-color:#ffffff!important;}
.loginLogo { background-image:url(../img/green_bg.gif); height:36px; margin-bottom:5px; padding-right:2px; padding-bottom:10px;   padding-left:8px; color:#F5F5F5; text-align:center;}
.loginPoweredby{ text-align:right; padding-top:5px;}
.loginFieldInput{ font-size:12px; color:#FB1A41; text-decoration:none; border:1px solid #DBDBDB; background-color:#FFF; padding:7px; width:265px; font-weight:bold;}
.popupWrapForm2{ width:860px; padding:0px; background-color:#FFF;}
.popupWrapForm2 dl {width:100%;clear:both;padding:0px;margin:0px;}
#mainPopupWraper{width:860px; height:100px; padding:0px; background-color:#FFF; float:left; height: auto;}
.userAddInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -45px -16px; height:16px; width:15px; display:inline-block; vertical-align:middle; margin:0px 4px;}
.approveInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -194px -16px; height:16px; width:15px; display:inline-block;vertical-align:middle;margin:0px 0px 0px 3px;}
.downloadInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -212px -16px; height:16px; width:15px; display:inline-block;vertical-align:middle;margin:0px 0px 0px 3px;}
.deactivatedInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -122px 0px; height:16px; width:15px; display:inline-block; vertical-align:middle;margin:0px 0px 0px 3px;}
.deactivatedInfo1{ background:transparent url(../images/iconImg.gif) no-repeat scroll -122px 0px; height:16px; width:15px; /*display:inline-block;*/ float:left; vertical-align:middle;margin:0px 0px 0px 3px;}
#theMiddle { padding:0px; width:876px; background-color:#FFF; border:4px solid #BED7E4;/*border-top:1px solid transparent;*/    border-top:4px solid #D7E6EE;}

/* -------------------------------------------------------------------------- */
/* WrapperNav Section Here  */
/* ------------------------------------------------------------------------- */
#wrapTopnav{ padding-top:20px; padding-left:40px; width:464px; padding-right:0px; float:left;}
#topnav { float:none; list-style:none; line-height:1em; color:#194E76; background-color:transparent; margin:0; padding-right:0;    padding-bottom:0; padding-left:0;}
#topnav li { float:left; padding:0; list-style-type:none;}
#topnav a { text-decoration:none; display:block; color:#00588C; margin:0px; padding:6px 10px; font-size:11px;}
#topnav a { text-align:center; font-size:12px; font-weight:bold;}
#topnav li:hover a{ color:#0792C9; text-decoration:none; border-bottom:1px solid #FB1A41;}
#midTop { border-bottom:1px solid #fff;}
#wrapMainIMG{ height:250px; width:586px; float:left;}
#wrapSignIn{ height:250px; width:289px; float:left; background:#194E76 url(../img/signin_bg.png) no-repeat; margin-left:1px;}
.blockBlue { background:#C4D8E3 url(../img/bblue_bg.png) repeat-x; padding:10px; float:left; width:268px; height:280px;}
.blockBlue2{ background:#C4D8E3 url(../img/bblue_bg.png) repeat-x; background-repeat:repeat-x; padding:10px; float:left; width:269px; height:280px;}
.blockRed { padding:10px; float:left; width:277px; height:280px; background-color:#F9042F; border-right:1px solid #fff; border-left:1px solid #fff;}
.blockBlueContainer { font-size:11px; color:#333; padding:1px 1px 25px 1px; height:200px;}
.HFeatures { font-size:10px; color:#00588C; text-decoration:none; background:url(../img/icoFeatures.png) no-repeat 1px 12px; padding:9px 5px 8px 20px;}
.HFeatures h1{ font-size:12px; color:#00588C; text-decoration:none; line-height:12px;}
.HFaqs{ font-size:10px; color:#00588C; text-decoration:none; background:url(../img/icoFAQs.png) no-repeat 1px 8px; padding:7px 5px 7px 20px;}
.HFaqs h1{ font-size:12px; color:#00588C; text-decoration:none;}
.HFaqs a{ color:#00588C;}
.homepage_top{ color:#F9042F; font-size:18px; font-weight:normal; margin:0; padding:5px 0;}
#vbvContactDiv{ color:#FFF; font-size:10px; padding:10px; background:#0B9DBF; height:40px; *height:60px; _height:40px; width:550px;}
#vbvContactDiv_new{ color:#FFF; font-size:10px; padding:10px; background-color:#0B9DBF; height:40px; width:550px; *height:60px; _height:40px; *width:555px; _width:555px;}
#vbvBgDiv { background:url(../img/vbv-bg.png); padding-left:158px;height:170px; position:relative; bottom:16px;}
#addVbVDiv{ width:260px; padding-top:0px;  height:14px; float:left;}
#contVbVDiv{ padding-top:0px;  height:14px; float:right;}
iframe{ border:0px; filter:chroma(color=#ffffff); background-color:transparent;}
.highlight.red{ border-color:#D1AAAA; color:#BC0000;}
.listHead { background-color:#007BC1; clear:both; color:#FFFFFF; float:none; font-size:12px; text-align:left; padding:6px 0px 6px 3px!important;  /*text-transform:capitalize;*/ }

/*  CSS for Password Strength Start*/
#password_strength_bar{ float:left;}
#password_strength_bar div{ width:10px; height:5px; border:1px solid #AAAAAA; float:left;}

/* Print Overwrite */
.onlyPrint { display:none;}
.payBlock { clear:both; margin:0px auto; padding:10px; width:600px;}
.payImg { float:left;}
.inputPayRadio{ margin:0px 5px 0px;}
.pd10{ padding-top:10px; width:170px;}
.mgcenter { margin:0px auto; width:350px; text-align:center; padding:10px 0px;}
.search_bank{ float:right; margin:0 19px 5px 0; font-size:13px; font-weight:normal;}
.search_bank a{ font-size:12px; font-weight:normal;}
.invisible{ visibility:hidden;}
.dsInfo4Fields .radio_list{ list-style:none; padding:0px; margin:0px;}
#err_toAcc, #err_description{padding:0 0 0 14px;}

.fieldinput1{ float: left;   }
.confirm_details{overflow:hidden;}
.load_overflow{overflow:hidden;}
#signup{ margin:0;}
.dsInfo4Fields .checkbox_list li{ list-style-type:none;}
.wrapForm2 form{ padding:0; margin:0;}
.dsInfo4Fields_new{color:#666666; float:left; font-size:12px; /*padding:6px 4px 5px 10px;*/ padding:7px 4px 7px 10px; text-decoration:none; width:582px;}

.notebg{border:1px solid #ccc; padding:10px; margin-top:10px;}
.note{display:block; font-size:10px; margin-bottom:5px; text-align:left;}
.note-txt{font-size:11px; text-align:left; padding:2px 0;}
.note-txt b{color:#007BC1; float:left;}

.lastlogin  {text-align:center; background:#e1f5ff;border:#bddcfe solid 1px; font-size: 12px;  color: #333;width:60%; margin:0px auto; padding:5px;margin-bottom:8px}
.lastlogin a {color :#007bc1; text-decoration:underline;}
.fixed_column_width{max-width:143px !important;}
#payment_status { visibility: visible !important;}


.newPadding  { padding:30px 0;}

.ewallet_proc h3		{ font-size:16px; margin-bottom:10px; color:#19658F;}
.ewallet_proc div b { color:#000;}
.ewallet_proc div { color:#666; font-size:12px; margin-bottom:4px;}
.interswitch{ margin-right:14px;}
.check_heading h2 {color: #2781CA; font-size: 18px;  font-weight: normal;}

.highlight b{color:#000; display:inline-block; font-size:12px; font-weight:normal; padding:10px 0 0 5px;}

/*  added to remove blue line on the right side. Fixed for Bug ID #35742*/
#confirm_details #loadArea {padding-left:0!important; padding-right:0!important;}
#result_div #loadArea {padding-left:0!important; padding-right:0!important;}
.height_row{height:25px;}

.dsTitle4Fields label input{vertical-align:middle; *vertical-align:inherit;}

/* Edit by Nandan (30th Nov,2012)*/
.dtls_table{ background:#e5e5e5; font-size:12px; margin-bottom:5px;}
.dtls_table tr td{padding:5px;}

/** Changes custom button - 11 Dec 2012 -- **/
#Divcustomcommand .cRed{clear:both;}
#wrapperMid .listHead{padding:6px 10px 6px 5px!important;width:850px;}
.command-link{ display:inline-block; font-size:14px; text-decoration:none; margin:0 5px 2px 0;}
.command-link:hover{text-decoration:underline;}

/* Used datatable link remove margin */
table.mrgn0 tr td a{margin:0!important;}

/* Used datatable link remove margin */
/* Remove Gap of Custom Command Page */
.custom-area dl{background:#E5E5E5; display:inline-block; margin:0;}
#customCommand .divBlock{*width:865px;}
#customCommand, .custom-area{*padding:0; *margin:0;}

/* Remove between white spacing (using Receipt Page)*/
.naira_symbol{vertical-align:text-top;}
.wrapdiv{display:inline-block;}

/** 23 Apr- 2013  Alignment of text on eWallet User page **/
.text{ color: #666;
    font-size: 12px;
    line-height: 16px;}

.list-ewalletuser{ background:url(../img/new/sprite.png) no-repeat 0px -250px; padding-bottom:4px; padding-top:4px; padding-left:12px;color:#FFF;}

/** new - 14 may 2013**/
.dataTable .evenrow {background-color:#eae7e7;}
.dataTable .oddrow {background-color:#f2f2f2;}

.alignlt ul{text-align:left!important;font-size:12px;}

.recover_link{color:#54aaec;text-decoration: underline;}
.recover_link:hover{ color:#54aaec!important;}

.wrapForm-outer .dsInfo4Fields{min-height:20px!important;}