/* --------------------------------------------------------
Style Sheet for Pay4Me
version:2.2
last modified:20.05.2011 by Nandan Singh

----------------------------------------------------------*/

/* -------------------------------------------------------------------------- */
/* Standard Html Tag Reset   */
/* ------------------------------------------------------------------------- */
html, body, /*div, ul, li*/ span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, caption, tbody,
tfoot, thead, tr, th, td { margin:0px; padding:0px; border:0; font-weight:inherit; font-style:inherit; outline:0; vertical-align:baseline;}

/* -------------------------------------------------------------------------- */
/* Standard Html Tag Defination */
/* ------------------------------------------------------------------------- */
HTML { height:100%;}
body{ background:#fff; font:12px/18px "Lucida Sans Unicode", "Lucida Grande", Arial, Verdana, sans-serif; height:100%; background: url(../img/new/bg.gif) repeat;}
h1{ font-size:100%;}
h2{ font-size:18px; color:#2781CA; font-weight:normal;}
h3{ font-size:19px; color:#004684; padding:4px 0 8px 0; font-weight:normal;}
h4{ font-size:22px; color:#004684; padding:4px 0 8px 0; font-weight:normal; float:left;}
h5{ font-size:14px; text-decoration:none; font-weight:normal;}
h5, h6, p{ text-decoration:none;}
label{}
.HLogin { font-size:12px; color:#046A9E;}
input { margin:0px;}
img { border:none; }
a{ color:#E01924; text-decoration:none;}
a:hover { color:#E01924; text-decoration:underline;}
.print{ font-size:11px; color:#999;text-decoration:none; background:url(../img/new/ico_print.png) no-repeat 1px; float:right; width:auto; padding:2px 2px 2px 20px;}
.more{ font-size:10px; color:#E71E34; text-decoration:none; line-height:18px; text-transform:uppercase; background:url(../img/new/ico_readmore.png) no-repeat 58px 3px;}
.more a{ font-size:10px; color:#E71E34; text-decoration:none;}
.more a:hover{ font-size:10px; color:#E71E34; text-decoration:underline;}
.txthighlightGrey{ color:#999;}
.greyDescription { color:#333; font-size:11px; line-height:16px;}
.list a{ color:#FFF;}
.list a:hover{ color:#FFF; text-decoration:underline;}
.error{ *position:relative; /**bottom:25px;*/}
.cRed { color:#ff0000; font-size:12px;}
.fieldWrap ul.error_list{padding-left:0;margin-left:0;}
.clearfix{ clear:both; height:0px;_height:auto!important;}
.clear{clear:both;}
.feedbackForm fieldset{border:1px solid #AFAEAE; padding:5px;}

/* -------------------------------------------------------------------------- */
/* Page Elements                                              */
/* -------------------------------------------------------------------------- */
#main{ width:960px; margin:0px auto; padding:0px;}
/*#main #curvetop{ width:900px; background:url(../img/new/sprite.png) no-repeat 0px -600px; height:10px;}
#main #curvebottom{ width:900px; background:url(../img/new/sprite.png) no-repeat 0px -624px; height:10px;}*/

/* -------------------------------------------------------------------------- */
/* Wrapper Section Here                                              */
/* -------------------------------------------------------------------------- */
#wrapper{ width:960px; padding:0px; margin:0px;}

/* -------------------------------------------------------------------------- */
/* Header Section Here */
/* ------------------------------------------------------------------------- */
#thetop { padding-top:0; padding-right:5px; padding-bottom:0px; background: url(../img/new/header_bg.gif) repeat-x; height:50px;}
#thetoppopup { padding-top:0; padding-right:5px; padding-bottom:0px; background: url(../img/new/header_bg.gif) repeat-x; /*height:50px;*/}
/* Logo Section Here */
#theLogo{ float:left; height:35px; width:261px; *padding-top:8px; padding-left:12px; padding-top:inherit!important}
#versignLogo{ float:right;height:40px; width:92px; position:relative;}

/* Nav Section Here */
#wrapNav{ padding:0px 1px 0px 0px; height:32px;}

/* Thenav Section Here */
#thenav{ /*background:url(../img/new/nav_bg.gif) repeat-x; height:26px;*/ padding:0px 5px 0px 0px; float:left; width:960px;}
#topnav{ float:none; list-style:none; color:#194E76; background-color:transparent; margin:0; padding:0; /*width:618px;*/}
#topnav li{ float:left; padding:0;}
#topnav a{ text-decoration:none; display:block; color:#fff; margin:0; font-size:14px; font-weight:normal; padding:8px 40px 0px 0px;}
#topnav li:hover a{ color:#fff; text-decoration:none!important; border-bottom:none!important;}
#topnav h6 li a:hover{ color:#fff; text-decoration:none;}

/* Secnav Section Here */
/*#secnav{ float:none; list-style:none; line-height:1em; color:#194E76; background-color:transparent; margin:0; padding:0;}
#secnav li { float:left; padding:0;}
#secnav a{ text-decoration:none; display:block; color:#E01924; font-size:12px; font-weight:normal;*//*padding:1px 13px 1px 8px;*//*padding:1px 8px; margin-top:11px;}
#secnav a.end{ text-align:center; border-right:solid 1px #999999;}
#secnav a.home{ text-align:center; padding:8px 10px; border-left:1px solid #666;}
#secnav li:hover a { color:#194E76; text-decoration:none;}*/

/* -------------------------------------------------------------------------- */
/* WrapperLeft Section Here */
/* ------------------------------------------------------------------------- */
#wrapperLeft { width:610px; float:left; padding:0; margin:0; clear:left;}

/* Slides Section Here */
#slides { height:242px; width:610px; float:left; margin-bottom:0px;}

/* Slides Control Here */
#slideControl{ text-align:right; float:left; font-size:10px; margin-left:10px; margin-top:-27px; position:relative;}
#slideControl a{ color:#FFFFFF; text-transform:uppercase; text-decoration:none; margin-left:3px; height:1px; padding:0px 2px;background-color:#18658F; font-size:7px;}
#slideControl a.active{ background-color:#E71E34;}
#slideControl a span{ visibility:hidden;}
#navigation{ position:absolute; width:560px; top:74px; z-index:10; visibility:hidden;}
#navigation a{ padding:4px; background:#d60c62; color:#FFFFFF; text-transform:uppercase; text-decoration:none;}
#navigation a:hover{ background:#cc0035;}
#navigation a.sexyslider-prev{ float:left;}
#navigation a.sexyslider-next{ float:right;}

/* Largeshowcase Section Here */
.largeShowcase { width:300px; float:left; padding-top:1px; padding-bottom:1px;}
.largeShowcase .top{ background:url(../img/new/sprite.png) no-repeat 0px -530px; height:10px; width:300px;}
.largeShowcase .middle{ background-color:#D6F0FF; padding:6px 10px 0 10px;}
.largeShowcase .middle h3{ font-size:22px; color:#194E76; text-decoration:none; margin:0px; padding:0 0 0 5px;}
.largeShowcase .middle .list-features{ background:url(../img/new/sprite.png) no-repeat 2px -251px; padding:3px 3px 0 18px;font-size:11px; color:#E01924;}
.largeShowcase .middle .smalldescription{ color:#666; font-size:10px; line-height:14px;}
.learn_more{ font-size:10px; color:#194E76; text-decoration:none; line-height:18px; text-transform:capitalize; background:url(../img/new/ico_readmore.png) no-repeat right 3px; text-align:right; padding-right:12px;}
.learn_more a{ font-size:10px; color:#194E76; text-decoration:none;}
.learn_more a:hover{ font-size:10px; color:#194E76; text-decoration:underline;}
.largeShowcase .bottom{ background:url(../img/new/sprite.png) no-repeat 0px -560px; height:10px; width:300px;}

/* Divider Section Here */
#divider{ width:10px;float:left;}
.largeShowcase .middle .list{ background:url(../img/new/sprite.png) no-repeat 3px -664px; padding-top:3px; padding-right:3px; padding-left:18px; font-size:11px; color:#E01924;}

/* PartnerBanks Section Here */
#partnerBanks { text-decoration:none; clear:both; width:610px; margin-bottom:10px; padding-top:10px;}

/* -------------------------------------------------------------------------- */
/* WrapperInnerLeft Section Here */
/* ------------------------------------------------------------------------- */
#wrapperInnerLeft{ width:330px; background-color:#FFF; float:left; padding:5px 0;}

/* SubnavShowcase Section Here */
.subnavShowcase { width:259px; float:left; margin-bottom:10px;}
.subnavShowcase .top{ background-image:url(../img/new/sprite.png);height:10px; background-position:0px -430px; background-repeat:no-repeat; width:259px;}
.subnavShowcase .middle{ background-color:#eee; padding-right:12px; padding-left:12px; padding-top:5px; padding-bottom:3px;}
.subnavShowcase .middle h3{ font-size:22px; color:#E01924; text-decoration:none; margin:0px; padding:0px;}
.subnavShowcase .middle .list{ background:url(../img/new/sprite.png) no-repeat 0px -250px; padding-bottom:4px; padding-top:4px; padding-left:12px;color:#FFF;}
.subnavShowcase .bottom{ background:url(../img/new/sprite.png) no-repeat 0px -520px; height:10px; width:260px;}

/* -------------------------------------------------------------------------- */
/* WrapperRight Section Here */
/* ------------------------------------------------------------------------- */
#wrapperRight{ width:350px; float:right; /*padding:5px 0;*/padding:0px; margin:0;}

/* Redshowcase Section Here */
.redShowcase { width:350px; float:left; margin-bottom:0px;overflow:hidden; height:334px;}
/*.redShowcase .top{ background:url(../img/new/sprite.png) no-repeat 0px -215px; height:10px; width:259px;}*/
.redShowcase .middle{ background-color:#E00724; padding:0px 12px;}
.redShowcase .middle h3{ font-size:24px; color:#FFF; text-decoration:none; margin:0; padding:0;}
#signinArea{ padding:1px; color:#FFF; font-size:11px; line-height:14px;}
#signinArea .labeltxt{ font-size:11px; color:#FFF; float:left; width:112px; padding:1px 1px 1px 13px;}
#signinArea .field{ font-size:14px; color:#727272; padding:5px; background:url(../img/new/textfieldbg.gif) repeat-x #fff; border:1px none #fff; width:312px; height:25px;}
#signinArea .submit{ font-size:14px; font-weight:bold; color:#FFF; margin-top:5px; background: url(../img/new/login_btn_bg.png) no-repeat; height:33px; width:123px; border:none; background-color:transparent; cursor:pointer;}
#signinArea .fieldwrap{ font-size:12px; color:#EC9B96; padding-top:4px; padding-bottom:6px; line-height:14px; float:left; width:100px;}
#signinArea .fieldwrap-left{ font-size:12px; font-weight:normal; color:#EC9B96;padding-top:8px; padding-bottom:12px; line-height:14px; width:100px; margin-right:23px;}
#signinArea .buttonwrap{ font-size:11px; font-weight:normal; color:#FFF; padding-top:0px; padding-right:1px; padding-bottom:1px; line-height:14px;float:left;width:330px;}
#signinArea .helpwrap{ font-size:10px; font-weight:normal; color:#FFF; padding:10px 1px 1px 4px; line-height:14px; float:left; width:153px;}
#signinArea .helpwrap a{ color:#FFF; text-decoration:none;}
#signinArea .helpwrap a:hover{ color:#FFF; text-decoration:underline;}
.strength{ float:left;}
.redShowcase .bottom{ background:url(../img/new/sprite.png) no-repeat 0px -239px; height:10px; width:260px;}

/* Greyshowcase Section Here */
.greyShowcase { width:259px; float:left; margin-bottom:10px;}
.greyShowcase .top{ background:url(../img/new/sprite.png) no-repeat 0px -430px; height:10px; width:259px;}
.greyShowcase .middle{ background-color:#eee; padding:5px 12px 0px 12px;}
.greyShowcase .middle h3{ font-size:21px; color:#E01924; text-decoration:none; margin:0px; padding:0px;}
.greyShowcase .middle .list{ padding-bottom:2px; background:url(../img/new/sprite.png) no-repeat 2px -251px; padding-top:2px; padding-left:17px;color:#19658F; font-size:10px;}
.greyShowcase .bottom{ background:url(../img/new/sprite.png) no-repeat 0px -520px; height:10px; width:260px;}

/* Blueshowcase Section Here */
.blueShowcase { width:259px; float:left; margin-bottom:10px;}
.blueShowcase .bottom{ background:url(../img/new/sprite.png) no-repeat 0px -350px; height:10px; width:260px;}
.blueShowcase .top{ background:url(../img/new/sprite.png) no-repeat 0px -326px; height:10px; width:259px;}
.blueShowcase .middle{ background-color:#19658F; padding:0px 12px;}
.blueShowcase .middle h3{ font-size:21px; color:#FFF; text-decoration:none; margin:0px; padding:0px;}
.blueShowcase .middle .list{ background:url(../img/new/ico_faqs.png) no-repeat 1px 2px; padding:2px 3px 2px 20px; _padding-left:22px; color:#FFF;}
.blueShowcase .middle .all{ color:#FFF; font-size:11px; text-align:right;}
.blueShowcase .middle .all a{ color:#FFF; text-decoration:none;}
.blueShowcase .middle .all a:hover{ text-decoration:underline;}

/* -------------------------------------------------------------------------- */
/* WrapperInnerRight Section Here */
/* ------------------------------------------------------------------------- */
#wrapperInnerRight{ width:600px; background-color:#FFF; float:left; padding:5px 0 35px 10px; margin-right:0; color:#333;}

/* InnerImg Section Here */
#innerImg{ height:242px; width:600px; margin-bottom:10px;}
#wrapperInnerRight h3{ font-size:24px; font-weight:normal;color:#19658F;padding-bottom:5px;}
#wrapperInnerRight strong{ font-size:14px; font-weight:normal; color:#E01924; padding-bottom:2px;}

/* Faqstxt Section Here */
.faqstxt { padding:1px;}
.faqstxt-wrap { padding:5px 1px 15px 1px;}
.faqstxt-wrap li{ margin-left:15px;color:#666;padding-bottom:5px;}
.faqstxt .question{ font-size:14px!important;color:#E01924!important; text-decoration:none!important; line-height:18px!important;}
.faqstxt .answer{ font-size:12px; color:#666; text-decoration:none;}


/* WrapMid Section Here */
#wrapMid{ padding:0; min-height:190px; height:auto;}

/* -------------------------------------------------------------------------- */
/* Footer Section Here   */
/* ------------------------------------------------------------------------- */
#wrapFoot{ padding-top:6px; /*border-top:1px solid #E3E3E3;*/ font-size:11px; color:#666; text-decoration:none; background-color:#19191b; height:30px;}
#copyrightInfo{ font-size:11px; color:#fff; float:left; width:585px; line-height:25px;}
#footnav{ float:right; list-style:none; line-height:1em; color:#ffffff; background-color:transparent; margin:8px 0 0 0; padding:0;}
#footnav li{ float:left; padding:0;}
#footnav a{ text-decoration:none; display:block; color:#ffffff; font-size:11px; font-weight:normal; /*padding:1px 8px;*/padding:1px 4px; border-right:1px solid #ccc;}
#footnav a.end{ text-align:center; border-right:1px none #999;}
#footnav a.home{ text-align:center; padding:8px 10px; border-left:1px none #666666;}
#footnav li:hover a{ color:#E71E34!important; text-decoration:none;}

/* -------------------------------------------------------------------------- */
/* Welcome Success Section Here */
/* ------------------------------------------------------------------------- */
#flash_error span, #flash_notice span{ -moz-border-radius:3px; -webkit-border-radius:3px; }
#flash_error span{ border-color:#f00; color:red!important; background:#fff; text-align:center; font-weight:bold;}
.error_list_user { background:none right scroll 0 0 #FF6633; color:#FFFFFF; font-weight:bold; text-align:center; -moz-border-radius:3px; padding:3px 10px; background-color: rgb(255, 255, 255);}
.error_list_user span { padding:0px; margin:0px auto; text-align:center;}
.error_list_user span .error { float:none!important; position:static!important; color:red;}
#flash_notice span{ color:#fff; background:#008837; text-align:center; font-weight:bold; }
.error_listing ul { text-align:left!important; color:red;}
.error_list span{ padding:3px 10px; line-height:22px; display:block; }
.error_list ul, .error_list li{ margin:0; padding:0; list-style:none; display:inline;}

/* -------------------------------------------------------------------------- */
/* Sign Up Section Here */
/* ------------------------------------------------------------------------- */
.feedbackForm { background-color:#F9F7F8; padding:10px; font-size:10px; float:left;}
.feedbackForm .header{ background-color:#D6F0FE;padding:5px 10px; font-size:13px;}
.feedbackForm .required{ color:#F00;}
.feedbackForm .desc{ color:#666; padding-left:2px; padding-top:5px; font-size:10px;}
.feedbackForm .error{ color:#F00; padding-left:2px; padding-top:5px;}
.feedbackForm .message{ color:#F00; padding-left:2px; padding-top:5px;}
.feedbackForm .message a{ color:#F00; text-decoration:none;}
.feedbackForm .message a:hover{ color:#F00; text-decoration:underline;}
.feedbackForm .fieldName{ float:left; width:110px; padding:10px; color:#666;}
.feedbackForm .fieldWrap{ padding:10px; float:left; width:430px;}
.feedbackForm .txtfield{ border:1px solid #afaeae; color:#333333; font-size:12px; padding:5px; text-decoration:none; width:427px;}
.feedbackForm .txtfield-r{ padding:5px; /*width:425px;*/ width: 230px; border:1px solid #E7DEE2; font-size:12px; color:#333; text-decoration:none;}
.feedbackForm .txtfield-short{ padding:5px; width:220px; border:1px solid #E7DEE2; font-size:12px; color:#333; text-decoration:none;}
.feedbackForm .button{ border:1px solid #E7DEE2; font-size:12px; color:#FFF; text-decoration:none; background-color:#19658F; padding:5px 8px;}
.feedbackForm .desc-optional{font-style:italic; font-weight:bold; }
.dsTitle4Fields { color:#666666; float:left; font-size:11px; padding:10px 10px 6px; text-decoration:none; width:240px; background-color:transparent!important;}
.dsTitle4Fields label sup{ color:#FF0000;}
.dsInfo4Fields { color:#666666; float:left; font-size:12px; padding:6px 4px 5px 10px; text-decoration:none; width:359px;}
.dsInfo4Fields input{ border:1px solid #E7DEE2; color:#333333; font-size:12px; padding:5px; text-decoration:none; /*width:297px;*/ width:auto;}
.dataTable { border-right:1px solid #CCCCCC; border-top:1px solid #CCCCCC; margin:0; padding:0; width:100%;}
.dataTable th { border-bottom:1px solid #CCCCCC; border-left:1px solid #CCCCCC; color:#007BC1; font-size:13px; font-weight:normal; padding:5px; text-align:left;}
.dataTable td { border-bottom:1px solid #CCCCCC; border-left:1px solid #CCCCCC; font-size:12px; padding:4px;}

/* -------------------------------------------------------------------------- */
/* WrapForm2 Section Here  */
/* ------------------------------------------------------------------------- */
.wrapForm2 { /*background-color:#E5E5E5;*/ padding:0;/*width:857px;*/ width:auto; background-color:#F9F7F8;}
.divBlock { clear:both; padding:0; width:634px;}
.formHead{ background-color:#D6F0FE!important; clear:both; color:#000000!important; font-size:12px; float:none; padding:6px 10px 6px 5px; text-transform:none!important; width:auto;}
.dlForm input[type="radio"], .dlForm .inputRadio  { border:0 none; font-size:inherit; margin-bottom:2px; vertical-align:middle;}
.wrapForm2 dl { clear:both; margin:0; padding:0; width:100%;}
.login_div{ width:60%;margin:0px auto;}
#loginForm form{ width:70%;_width:80%;margin:0px auto;}
.wrapForm2 dl .dsTitle4Fields, .wrapForm2 dl .dsInfo4Fields { margin-bottom:0; margin-top:0; padding-bottom:5px; padding-top:5px;}

/* payBlock Section Here  */
.payBlock { clear:both; margin:0 auto; padding:10px; width:600px;}
.payImg { float:left;}
.pd10 { padding-top:10px; width:170px; *float:left;}
.inputPayRadio { margin:0 5px;}
.mgcenter { margin:0 auto; padding:10px 0; text-align:center; width:350px;}
.naira { float:left; font:bold 12px "Lucida Sans Unicode",Lucida Sans,Lucida Grande,Arial,Verdana,sans-serif; margin-top:10px;padding:20px 80px; *padding:20px 0px;}
.dollar { float:right; font:bold 12px "Lucida Sans Unicode",Lucida Sans,Lucida Grande,Arial,Verdana,sans-serif; margin-top:10px;margin-left:20px; padding:20px 40px;}

/* -------------------------------------------------------------------------- */
/* Recharge Notice Success   */
/* ------------------------------------------------------------------------- */
#flashAlert span { color:#BF1F00; background-color:#FFFABF; -moz-border-radius :3px; -webkit-border-radius :3px; border:1px solid #BF1F00;text-align:left; font-weight:normal;}
#flashAlert span strong { font-weight:bold;}

/* -------------------------------------------------------------------------- */
/* Bank Success   */
/* ------------------------------------------------------------------------- */
.search_bank{ float:right; padding:0 23px 0 0;}
.bank_logo { background-position:left top; background-repeat:no-repeat; border:1px solid #007BC1; float:left; height:75px; margin:10px; width:100px;}
.cmspage { padding:0 50px;}
.button_questions { background-color:#19658F; border:1px solid #E7DEE2; color:#FFFFFF; font-size:12px; margin-left:261px; padding:5px 8px; text-decoration:none;}
#signupPage { width:600px; overflow:hidden; padding:0px;}


.cream_box{ background-color:#ffffd9; width:672px; margin:0px auto; border:dotted 1px #bdbd56; padding:5px;}
.cream_box_heading{ font-size:12px; font-weight:bold;}
.cream_box_text{ padding:15px 0 0 0;}
.call-msg{ width:auto; float:right; padding-top:10px; *padding-top:15px; padding-right:10px;}
.footer_link_txt{ float:left;  width:350px; background:#D8D8D8; margin-left:20px; padding: 0 10px; }
.footer_link_txt a{ color:#046A9E; }

.loginField label{ float:left;}
.login_btn{ float:right; margin-right:10px;}
.forgot_pass_home{ float:left; margin:16px 10px 0 0px; *margin:12px 10px 0 0px; display:inline;}
.forgot_pass_home a{ text-decoration:underline; color:#ffffff;}
.forgot_pass_home a:hover{ text-decoration:none; color:#ffffff;}
.frgt_pass{ float:right; margin:5px 0 0 0px; *margin:5px 0 0 0px; display:inline;}
.frgt_pass a{ font-size:11px!important; text-decoration:underline;}
.frgt_pass a:hover{ font-size:11px!important; text-decoration:none;}
.login_btn_ewallet{ float:left; margin:0 0 0 2px; display:inline;}
.login-ffield{ width:274px;}
.email_notification{ background-color:#f2f2f2; border:solid 1px #d6d4d4; padding:5px;}
.text_box_new {background-color: #FFFFFF;border: 1px solid #DBDBDB;color: #333333;font-size: 11px;font-weight: bold;padding: 7px;
    text-decoration: none;
    width: 274px;
}
.button{ border:1px solid #E7DEE2; font-size:12px; color:#FFF; text-decoration:none; background-color:#19658F; padding:5px 8px;}
/*  CSS for Password Strength Start*/
#password_strength_bar{ float:left;}
#password_strength_bar div{ width:10px; height:5px; border:1px solid #AAAAAA; float:left;}
/* -------------------------------------------------------------------------- */
/* WrapperInnerRight Section Here */
/* ------------------------------------------------------------------------- */
#wrapperInnerRight_new{ width:auto; background-color:#FFF; float:left; padding:5px 0 35px 10px; margin-right:0; color:#333;}

/* InnerImg Section Here */
#innerImg_new{ height:242px; width:600px; margin-bottom:10px;}
#wrapperInnerRight_new h3{ font-size:18px; font-weight:normal;color:#19658F;padding-bottom:5px;}
#wrapperInnerRight_new strong{ font-size:14px; font-weight:normal; color:#E01924; padding-bottom:2px;}
.feedbackForm_new { background-color:#F9F7F8; padding:10px; font-size:10px; float:left;}
.feedbackForm_new .header{ background-color:#D6F0FE;padding:5px 10px; font-size:13px; width:820px;}
.feedbackForm_new .required{ color:#F00;}
.feedbackForm_new .desc{ color:#666; padding-left:2px; padding-top:5px; font-size:10px;}
.feedbackForm_new .error{ color:#F00; padding-left:2px; padding-top:5px;}
.feedbackForm_new .message{ color:#F00; padding-left:2px; padding-top:5px;}
.feedbackForm_new .message a{ color:#F00; text-decoration:none;}
.feedbackForm_new .message a:hover{ color:#F00; text-decoration:underline;}
.feedbackForm_new .fieldName{ float:left; width:195px; padding:10px; color:#666;}
.feedbackForm_new .fieldWrap{ padding:10px; float:left; width:430px;}
.feedbackForm_new .txtfield{ border:1px solid #afaeae; color:#333333; font-size:12px; padding:5px; text-decoration:none; width:427px;}
.feedbackForm_new .txtfield-r{ padding:5px; width:425px; border:1px solid #E7DEE2; font-size:12px; color:#333; text-decoration:none;}
.feedbackForm_new .txtfield-short{ padding:5px; width:220px; border:1px solid #E7DEE2; font-size:12px; color:#333; text-decoration:none;}
.feedbackForm_new .button{ border:1px solid #E7DEE2; font-size:12px; color:#FFF; text-decoration:none; background-color:#19658F; padding:5px 8px;}
.error{ display:block; clear:both; color:#ff0000;}
.checkbox_list{ list-style-type:none;}
.notifications_question h2{ font-size:12px!important; font-weight:bold; padding:5px 0 5px 5px; border:solid 1px #cccccc; margin:0 0 5px 0; background-color:#f5f5f5; text-align:center;}
.call-msg-support{  margin:0px auto;text-align: center;border:solid 1px #cccccc; background-color:#f5f5f5; font-size:12px; color:#555555; margin:5px 0 5px 0;}
.float_none{ float:none!important;}
.floatLeft{ float:left; margin-right:8px;}
.floatRight { float:right;}
.paging.pagingFoot{ text-align:right;}
.cGreen {background:#ecececd; color:#009900; padding:5px 10px; -moz-border-radius:5px}
.sug_txt{color:#000000;}
.cGreen ul {display:inline; list-style-type:none; margin:0; padding:0 0 0 10px;}
.cGreen ul li{ display:inline; padding:0 10px 0 0;}
.cGreen ul li a{ color:#339900; }


/***************************** 16-11-2011*********************/
.SearchBranch           { margin:0px 0 10px 0; height:26px; background:url(../img/search-branch.gif) no-repeat; padding:5px; overflow:hidden}
.SearchBranch h3, .SearchBranch h3 a, .SearchBranch h3 a:hover     { color:#fff !important; text-decoration:none;}





.wrapLogos .fieldName	{ float:left; width:110px; padding:10px; color:#666; text-align:left;}
.wrapLogos .fieldWrap	{ padding:10px; float:left; width:430px; text-align:left;}
.wrapLogos .required	{ color:#FF0000;}

ul.radio_list			{ padding:0; margin-left:0; list-style-type:none;}
.radio_list input		{ border:none;}


.a-slot-content div table{ border:none!important;}
.a-slot-content div table tr td{ border:none!important; padding-left: 0px !important;}
/* ----- being used in jtip.js ----- */
#JT_close_left, #JT_close_right					{font-size: 14px;}
/*#JT_copy p, #JT_copy ul,p, label				{font-size: 12px;} */
#JT_arrow_left									{ background: url(../images/arrow_left.gif) no-repeat left top;position: absolute;z-index:101;left:-12px;	height:23px;width:10px; top:-3px;}
#JT_arrow_right									{ background: url(../images/arrow_right.gif) no-repeat left top; position: absolute;z-index:101;height:23px; width:11px; top:-2px;}
#JT 											{ position: absolute;z-index:100;border: 2px solid #CCCCCC;	background-color: #fff;}
#JT_copy										{ padding:10px 10px 10px 10px;color:#333;}
.JT_loader										{ background: url(../images/loading_icon.gif) no-repeat center center;width:100%;	height:12px;}
#JT_close_left									{ background-color: #CCC;text-align: left; padding:5px 8px 0px 2px;font-weight:bold;}
#JT_close_right									{ background-color: #CCC;text-align: left;	padding:5px 8px 0px 2px;font-weight:bold;}
#JT_copy p										{ margin:3px 0;}
#JT_copy img									{ padding: 1px;	border: 1px solid #CCCCCC;}
.jTip											{ cursor:help;}

/*--WP063, Bug:15881   */
.error-sign{color:red;}
.feedbackForm .fieldName {padding: 15px 10px 5px 5px!important;}
.login_openid{text-align:center; font-size:12px; font-weight:bold; color:#ffffff; border-top:dotted 1px #EC9B96; margin-top:5px; padding-top:5px;}
.login_openid span{color:#f0ff00;}
.login_openid_img { text-align:center; margin:5px 0px 0 0; padding:0 0px 0 0;}
.login_openid_img a{padding:0 5px 0 0;}
.ewallet_openid{text-align:center; font-size:12px; font-weight:bold; color:#007bc1; border-top:dotted 1px #cccccc; margin-top:5px; padding-top:5px;}
.ewallet_openid span{color:#000000;}
.ewallet_openid_img { text-align:center; margin:5px 0px 0 0; padding:0 0px 5px 0;}
.ewallet_openid_img a{padding:0 5px 0 0;}


/** 23 Apr- 2013  Center alignment of buttonson associate page **/
.login_btn_associate{ margin:0!important;}
.pos-center{ margin:10px 0 10px 0; text-align:center;}

.login-ffield-associate {
    width: 290px;
    margin:0 auto;
}
.readonly{  width:230px}
#body_bg{ background: url(../img/new/body_bg.gif) no-repeat;}
.redbox_heading{ font-size:20px; padding:10px 0 5px 0; color:#FFF;}
.register_btn{ margin:0 0 0 0; height:32px; !height:24px; padding:15px 0 17px 0;}
.search_bank_branch{background: url(../img/new/search_bank_bg.gif) repeat-x; height:48px;}
.blue_text{text-align:left; font-size:18px; font-weight:normal; color:#19658f; margin-top:0px; padding-top:15px; padding-left:15px; padding-bottom:10px; float:left;    }
.social_bg{background: url(../img/new/social_bg.gif) repeat-x; height:46px;}
.facebook{background: url(../img/new/new_sprite.png) no-repeat; width:115px; height:44px; display:block; background-position:25px 11px; text-align:right; line-height:44px; font-size:14px; color:#000000; float:left; margin-right:2px;}
.facebook:hover{ text-decoration:none;}
.google{background: url(../img/new/new_sprite.png) no-repeat; width:88px; height:44px; display:block; background-position:-98px 11px; text-align:right; line-height:44px; font-size:14px; color:#000000; float:left; margin-right:2px;}
.google:hover{ text-decoration:none;}
.yahoo{background: url(../img/new/new_sprite.png) no-repeat; width:85px; height:44px; display:block; background-position:-202px 11px; text-align:right; line-height:44px; font-size:14px; color:#000000; float:left; margin-right:2px;}
.yahoo:hover{ text-decoration:none;}
.search_bank{background: url(../img/new/new_sprite.png) no-repeat; width:335px; height:44px; display:block; background-position:-260px 11px; text-align:right; line-height:44px; font-size:18px; color:#282e6c; float:left; font-weight:bold; margin:1px 0 0 0; padding:0;}
.search_bank:hover{ text-decoration:none;}
.white_shadow_bg{background: url(../img/new/white_shadow_bg.png) repeat-x; height:80px; margin:0;}
.features_box{ width:170px; height:133px; display:block; background:#19658f; float:left; font-size:20px; font-style:italic; color:#FFF; text-decoration:none; line-height:36px; text-align:left; background: url(../img/new/fea_ser_faq_bg.png) no-repeat; background-position:60px 8px; padding:14px 0 0 120px;}
.blue_box{background:#19658f; float:left; display:block; height:60px; width:304px; margin:6px 0 0 6px;}
.features_box:hover{ text-decoration:none; color:#FFF;}
.services_box{ width:150px; height:133px; display:block; background:#19658f; float:left; font-size:20px; font-style:italic; color:#FFF; text-decoration:none; line-height:36px; text-align:left; background: url(../img/new/fea_ser_faq_bg.png) no-repeat; background-position:-248px 8px; padding:14px 0 0 110px;}
.orange_box{background:#c9a828; float:left; display:block; height:60px; width:304px; margin:6px 0 0 18px;}
.services_box:hover{ text-decoration:none; color:#FFF;}
.faq_box{ width:220px; height:133px; display:block; background:#19658f; float:left; font-size:20px; font-style:italic; color:#FFF; text-decoration:none; line-height:36px; text-align:left; background: url(../img/new/fea_ser_faq_bg.png) no-repeat; background-position:-565px 8px; padding:14px 0 0 80px;}
.red_box{background:#9c3513; float:left; display:block; height:60px; width:304px; margin:6px 0 0 18px;}
.faq_box:hover{ text-decoration:none; color:#FFF;}
.blue_heading{ font-size:18px; color:#19658f; padding:0 0 10px 0;}
.bank_bg{ width:960px; height:48px; background-color:#f0f0f0; padding-top:10px; margin-bottom:10px;}
.innerWrapper{background-color:#FFF; float:left; width:940px;padding:10px 10px 10px 10px; min-height:450px; height:auto;}
.descriptionArea_new{width:500px; float:left; padding:25px 0 0 0;}

.how-it-div li{color:#333; line-height:22px;padding-bottom:5px;}

.padding-for-paragraph{padding-top:10px;}
.padding-for-paragraph-works{padding-top:3px;}


/* Bank Page Css */
.bank-table{ border-top:1px solid #ccc; border-left:1px solid #ccc; }
.bank-table tr th{background:#EEEEEE; font-weight:bold; font-size:14px;}
.bank-table tr th,.bank-table tr td{ padding:10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}


.social-icons{background:none;}
.social-icons .facebook{background: url(../img/new/new_sprite.png) no-repeat #fff; width:96px; height:32px; display:block; background-position:5px 5px; text-align:right; line-height:32px; font-size:14px; color:#000000; float:left;  padding-right: 10px;}
.social-icons .facebook:hover{ text-decoration:none; padding-right: 10px;}
.social-icons .google{background: url(../img/new/new_sprite.png) no-repeat #fff; width:78px; height:32px; display:block; background-position:-107px 5px; text-align:right; line-height:32px; font-size:14px; color:#000000; float:left; margin-left:18px; padding-right: 10px;}
.social-icons .google:hover{ text-decoration:none; padding-right: 10px;}
.social-icons .yahoo{background: url(../img/new/new_sprite.png) no-repeat #fff; width:75px; height:32px; display:block; background-position:-212px 5px; text-align:right; line-height:32px; font-size:14px; color:#000000; float:left; margin-left:18px; padding-right: 10px;}
.social-icons .yahoo:hover{ text-decoration:none;}
#thenav {clear: both;
    display: block;}

#topnav li{position:relative; display:block;}
#topnav li:hover{background:#fff;}
#topnav li a:hover, #topnav li.selected a{color:#000 !important; background:#fff; position:relative; z-index:105;}
#topnav li:hover, #topnav li.selected{
	border:1px solid #e9e9e9;
	background:#fff;
	border-width:1px 1px 0 1px;
	position:relative;
	z-index:102;
}
ul#topnav{
	position:relative;
	z-index:104;
}
ul#topnav a{
	padding: 8px 19px 8px;
}

ul#topnav a:hover, ul#topnav .selected a{
	padding: 8px 18px 8px;
}

ul#topnav li ul#topnav{background: none repeat scroll 0 0 #fff;
    display: block;
    min-width: 250px;
    position: absolute;
    top: 31px;
	left:-1px;
    z-index: 100;
	padding:10px 20px;
	border:1px solid #e9e9e9;
}

#topnav li ul li {
    clear: both;
    display: block;
	border-bottom:1px solid #e9e9e9;
	width:100%;
}
#topnav li ul li:hover{
	background:none;
	border:none;
	border-bottom:1px solid #e9e9e9;
}
#topnav li ul li a, #topnav li.selected ul li a{
	color:#333 !important;
	font-size:13px;
	padding:8px 19px 8px 0;
}
#topnav li ul li a:hover{padding:8px 19px 8px 0;}
.dataTable{border:0;}
.dataTable th{border:0; border-bottom:3px solid #19658F;padding:10px 0;}
.dataTable td{border:0; border-bottom:1px solid #e9e9e9; padding:10px 0; vertical-align: middle;}
#wrapperInnerLeft{width:260px; margin-right:10px;}
#wrapperInnerRight{width:650px;}

/*-- suraj ---*/

.merchant_accor{height:auto;width: 97%;clear:both;}
.merchant_accor ul{list-style:none}
.merchant_accor  ul li {width: 100%;list-style: circle;}
.merchant_accor ul li > ul li{display: inline-block;width: 92%;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-top: 2px;background-color: #5887A2;background-image:url(../img/new/up.png);background-repeat:no-repeat;background-position:10px 11px;height:auto;color:#FFF;font-family:arial;font-size:14px;padding:8px 8px 8px 40px}
.merchant_accor .down{background-image:url(../img/new/down.png);background-color: #54829C;}
.merchant_accor .up{background-image:url(../img/new/up.png)}
.merchant_accor ul li div.content{background-color:#ededed;overflow:auto;display:none;border:1px solid #e3e3e3;margin:10px;padding:10px}
.merchant_accor ul li > ul li:hover {cursor:pointer;background-color: #508DAF;}
.merchant_accor ul li div.content .logo{background-color:white;margin: auto;margin-bottom:10px;color: rgb(70, 70, 70);height: auto;width: 90%;border:1px solid #DDD;padding:10px;}
.merchant_accor ul li div.content .logo img{border: 1px solid #eee;margin-bottom: 4px;}
.merchant_accor ul li div.content .logo .data ul li{list-style-type: circle;}
.merchant_accor ul li div.content .logo .data ul{padding-left: 16px;padding-bottom: 10px;}
.merchant_accor ul li div.content .logo .data{padding-top: 10px;background-color: }
.merchant_accor .logo b{font-weight: bold;padding: 2px;border-bottom: 1px solid #D5D5D5;width: 100%;display: block;color: rgb(105, 105, 105);font-family: arial;}
.innerWrapper_level_1{float: left; width: 270px; display: inline-block;}
.wrapperInnerLeft_1{display: inline-block;}
