﻿.inputRow
{
	clear: both;
	margin: 5px 0;
}
.inputRow .inputName
{
	color:#444;
	font-size:10px;
	font-weight:normal;
	line-height:42px;
	padding-right:10px;
	text-align:right;
	width:140px;
	float:left;
}
.inputRow .inputValue 
{
	float:left;
	width:200px;
}
.inputRow .inputValue input, .inputRow .inputValue textarea 
{
	width:99%;
}
input.txtInput, textarea.txtInput
{
	padding:8px;
	border:0px solid #ddd;
	font-size:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input.straightRightCorner, textarea.straightRightCorner
{
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright: 0px;
}
input.selected, textarea.selected
{
	border:0px solid #777;
}
.inputTipContainer
{
	border:0px solid #777;
	background:#ffffee url('../img/new/tip.gif') no-repeat 9px 9px;
	color:#333;
	display:none;
	position:absolute;
	padding:9px;
	/* Internet Explorer 7 fix */
	#padding-bottom:7px;
	font-size:10px;
	line-height:9px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright: 5px;	
	width:150px;
	padding-left:30px;
}
.badInputTipContainer 
{
	border:0px solid #900;
	color:#ff0000;	
	background: url('../img/new/no.png') no-repeat 9px 9px;
}
.goodInputTipContainer 
{
	color:#060;
	border:0px solid #090;
	background: url('../img/new/yes.png') no-repeat 9px 9px;
}

.checkInputTipContainer
{
	color:#333;
	border:0px solid #777;
	background: url('../img/new/check.gif') no-repeat 9px 9px;
}