/* 
Document   : default
Created on : 11 Oct, 2011, 10:43:55 AM
Author     : spandey
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#flash_error span {
    background-color: #FBF5F5;
    border-color: #D1AAAA;
    color: #BC0000;
    font:16px Arial, Helvetica, sans-serif;

    text-align: center;
}
.error_list span {
    display: block;
    line-height: 22px;
    padding: 3px 10px;
}
.XY50 { margin:50px; border:1px dotted #BC0000;}
.XY51 {  border:1px dotted #BC0000;}
.heading{font:bold 13px Arial, Helvetica, sans-serif;color:#900; background-color: #FBF5F5;};